#encoding UTF-8
## +-------------------------------------------------------------------------+
## |    index.html.tmpl                  Template file for "current" page    |
## +-------------------------------------------------------------------------+

#attr $page = 'day'

## +-------------------------------------------------------------------------+
## | Template for display card of values (left column)                       |
## +-------------------------------------------------------------------------+

#set global $custom_time_delta = int(($current.dateTime.raw % 3600) + 86400)  ## Align to the last full hour and add lenght of 1 day (86400 seconds)

#def notFoundCard($name)
    <div class="col-12 col-md-6 col-xl-4 mb-4">
        <div class="card">
            <div class="card-body text-center">
                Section definition not found for "$name"
            </div>
        </div>
    </div>
#end def

#def iframeCard($name)
    #set iframe_url = $getVar('Extras.Embedded.' + name + '.url', "")
    #set iframe_title = $getVar('Extras.Embedded.' + name + '.title', "")
    #set iframe_aspect = $getVar('Extras.Embedded.' + name + '.aspect_ratio', "4/3")
    #if iframe_url != ""
        <div class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card overflow-hidden">
                <div class="card-body text-center d-flex flex-column px-0 ${'pb-0' if iframe_title != '' else 'py-0'} overflow-hidden">
                    #if iframe_title != ""
                        <h5 class="h5-responsive $Extras.color-text">
                            $iframe_title
                        </h5>
                    #end if
                    <iframe src="$iframe_url" frameborder="0" class="flex-grow-1 w-100" style="aspect-ratio: ${iframe_aspect};"></iframe>
                </div>
            </div>
        </div>
    #else
        $notFoundCard($name)
    #end if
#end def

#def imageCard($name)
    #set image_url = $getVar('Extras.Embedded.' + name + '.url', "")
    ## by adding a timestamp parameter we prevent browser caching of the image
    #set $sep = '&' if '?' in $image_url else '?'
    #set $timestamp = int($time.time() / 60)
    #set image_title = $getVar('Extras.Embedded.' + name + '.title', "")
    #set image_link = $getVar('Extras.Embedded.' + name + '.link', "")
    #set image_new_tab = $getVar('Extras.Embedded.' + name + '.new_tab', "no")
    #set image_padding = $getVar('Extras.Embedded.' + name + '.padding', "no")
    #set image_aspect = $getVar('Extras.Embedded.' + name + '.aspect_ratio', "4/3")
    #set image_alt = $getVar('Extras.Embedded.' + name + '.alt', "Image")

    #if image_padding != "yes"
        #set padding_x = "px-0"
        #if image_title != ""
            #set padding_y = "pb-0"
        #else
            #set padding_y = "py-0"
        #end if
    #else
        #set padding_x = "px-3"
        #if image_title != ""
            #set padding_y = "pb-3"
        #else
            #set padding_y = "py-3"
        #end if
    #end if

    #if image_url != ""
        <div class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card overflow-hidden">
                <div class="card-body text-center d-flex flex-column ${padding_x} ${padding_y} overflow-hidden">
                    #if image_title != ""
                        <h5 class="h5-responsive $Extras.color-text">
                            $image_title
                        </h5>
                    #end if
                    #if image_link != ""
                        #if image_new_tab.lower() == "yes"
                            <a href="$image_link" target="_blank" rel="noopener noreferrer" class="flex-grow-1 d-flex flex-column w-100">
                            #else
                                <a href="$image_link" class="flex-grow-1 d-flex flex-column w-100">
                                #end if
                            #end if

                            <img src="${image_url}${sep}ts=${timestamp}" alt="${image_alt}" class="flex-grow-1 w-100" style="aspect-ratio: ${image_aspect};" />
                            #if image_link != ""
                            </a>
                        #end if
                    </div>
                </div>
            </div>
        #else
            $notFoundCard($name)
        #end if
    #end def

    #def valuesCard($name)
    #set $_nm = $name.strip().lower()
    #if not ($_nm in ('hr', 'hrc') or $_nm[:3] in ('hr:', 'hr ') or $_nm[:4] in ('hrc:', 'hrc '))
        ## ET requires a valid positive sum to be shown
        #if $getVar('day.' + name + '.has_data') and ($name != 'ET' or ($day.ET.sum.raw is not None and $day.ET.sum.raw >= 0.0))
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card card-value" id="${name}-value" data-name="$name">
                    <div class="card-body text-center">
                        <h3 class="h5-responsive $Extras.color-text">
                            $getVar('obs.label.' + name)

                            #if $name in $Extras.Appearance.show_trend_on

                                #set global $_trend_obs = $name
                                #include "trend_indicator.inc"

                #else if $name == 'windSpeed'

                    <i id="wind-icon" class="wi wi-wind from-$current.windDir.formatted-deg"
                    title="$current.windDir.formatted°" data-toggle="tooltip" data-html="true"></i>

                #end if
            </h3>

            #if $name == 'windSpeed'

                <div class="row">
                    <div class="col-3 text-muted font-small lo-text">
                        $day.wind.avg <br>
                        $gettext("avg")
                    </div>
                    <div class="col-6">
                        <h4 class="h2-responsive">
                            $current.windSpeed $current.windDir.ordinal_compass
                        </h4>
                    </div>
                    <div class="col-3 text-muted font-small hi-text">
                        $day.wind.max $day.wind.gustdir.ordinal_compass <br>
                        <i class="wi wi-wind from-$day.wind.gustdir.formatted-deg mr-2"
                        title="$day.wind.gustdir.formatted°" data-toggle="tooltip" data-html="true"></i>
                        ($day.wind.maxtime.format($card_datetime))
                    </div>
                </div>

            #else if $name == 'rain'

                <div class="row">
                    <div class="col-3 text-muted font-small lo-text">
                        $current.rainRate <br>
                        $obs.label.rainRate
                    </div>
                    <div class="col-6">
                        <h4 class="h2-responsive">$day.rain.sum</h4>
                    </div>
                    <div class="col-3 text-muted font-small hi-text">
                        $day.rainRate.max <br>
                        ($day.rainRate.maxtime.format($card_datetime))
                    </div>
                </div>

            #else if $name in set(['lightning_strike_count', 'windrun', 'ET'])

                ## Sum-only display: no min/max context
                <div class="row">
                    <div class="col-3 text-muted font-small lo-text"></div>
                    <div class="col-6">
                        <h4 class="h2-responsive">$getVar('day.' + name + '.sum')</h4>
                    </div>
                    <div class="col-3 text-muted font-small hi-text"></div>
                </div>

            #else

                ## Default: min / center / max
                ## lightning_distance shows day avg in center; all others show current value
                #if $name == 'lightning_distance'
                    #set $center_val = $getVar('day.' + name + '.avg')
                #else
                    #set $center_val = $getVar('current.' + name)
                #end if
                <div class="row">
                    <div class="col-3 text-muted font-small lo-text">
                        $getVar('day.' + name + '.min') <br>
                        ($getVar('day.' + name + '.mintime').format($card_datetime))
                    </div>
                    <div class="col-6">
                        <h4 class="h2-responsive">$center_val</h4>
                    </div>
                    <div class="col-3 text-muted font-small hi-text">
                        $getVar('day.' + name + '.max') <br>
                        ($getVar('day.' + name + '.maxtime').format($card_datetime))
                    </div>
                </div>

            #end if

        </div>
    </div>
</div>
#end if
    #end if  ## panel-marker guard
#end def

## +-------------------------------------------------------------------------+
## | Does an observation have data within the chart's rolling window?         |
## |                                                                          |
## | Charts on the current page plot $custom_time_delta (a ~24h window that   |
## | crosses midnight), so visibility must be decided against that span, NOT  |
## | $day (midnight->now). Otherwise a calm/empty morning hides a chart that  |
## | still has data from earlier in the window (e.g. yesterday evening).      |
## | Value-cards keep using $day on purpose: they show today's stats.         |
## +-------------------------------------------------------------------------+
## >>> chartHasData >>>
#def chartHasData($name)
    #set $_chd_obs = $getattr($span($time_delta=$custom_time_delta), $name)
    #return $_chd_obs.has_data
#end def
## <<< chartHasData <<<

## +-------------------------------------------------------------------------+
## | Template for display card of a single chart (right column)              |
## | Chart values are defined in the JS section below                        |
## +-------------------------------------------------------------------------+

#def chartCard($name, $name2 = "XX")
    #set $_nm = $name.strip().lower()
    #if not ($_nm in ('hr', 'hrc') or $_nm[:3] in ('hr:', 'hr ') or $_nm[:4] in ('hrc:', 'hrc '))
    #if $name.startswith('customChart')
        ## Custom chart: read config from Extras.Appearance
        #set $cc = $Extras.Appearance.get($name, {})
        #if $cc
            #set $cc_title = $cc.get('title', $name)
            #set $cc_values_raw = $cc.get('values', '')
            #if isinstance($cc_values_raw, list)
                #set $cc_vals_list = [v.strip() for v in $cc_values_raw if v.strip()]
            #else
                #set $cc_vals_list = [v.strip() for v in $cc_values_raw.split(',') if v.strip()]
            #end if
            #set $cc_any_has_data = any($chartHasData(v) for v in $cc_vals_list)
            #set $cc_sensors_str = chr(44).join($cc_vals_list)
            #if len($cc_vals_list) > 0 and $cc_any_has_data
                <div class="col-12 col-xl-6 mb-4">
                    <div class="card card-chart" id="${name}-chart" data-name="$name" data-sensors="$cc_sensors_str">
                        <div class="card-body text-center">
                            <h5 class="h5-responsive $Extras.color-text">$cc_title</h5>
                            <div id="${name}chart"></div>
                        </div>
                    </div>
                </div>
            #end if
        #end if
    #else if ($chartHasData($name) or $name == "windvec") and $name not in ["appTemp", "windrun"] and ($name != 'ET' or ($day.ET.sum.raw is not None and $day.ET.sum.raw >= 0.0))
        <div class="col-12 col-xl-6 mb-4">
            <div class="card card-chart" id="${name}-chart" data-name="$name">
                <div class="card-body text-center">
                    <h5 class="h5-responsive $Extras.color-text">
                        #if $name2 != "XX"
                            $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name)) &
                            $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name2))
                        #else
                            $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name))
                        #end if
                    </h5>
                    <div id="${name}chart"></div>
                </div>
            </div>
        </div>
    #end if
    #end if  ## panel-marker guard
#end def

## +-------------------------------------------------------------------------+
## | Helper: render a single value-card item by name                         |
## +-------------------------------------------------------------------------+

#def renderValueItem($x)
    ## Note: 'forecast' items in non-panel segments are handled inline in the main
    ## body (outside defs) to avoid Cheetah #include-inside-def scope issues.
    ## This def is used by renderValSegment for panel-type segments only.
    #if $x != "forecast"
        $valuesCard($x)
    #end if
#end def

## +-------------------------------------------------------------------------+
## | Helper: render items inside a panel (or directly) for a value segment   |
## +-------------------------------------------------------------------------+

#def renderValSegment($seg, $panel_idx)
    #if $seg['type'] is None
        ## No panel – render cards directly into the surrounding row
        #for $x in $seg['items']
            $renderValueItem($x)
        #end for
    #else
        ## Expansion panel
        #set $any_has_data = False
        #for $x in $seg['items']
            #if $x != "forecast"
                #if $getVar('day.' + $x + '.has_data')
                    #set $any_has_data = True
                #end if
            #end if
        #end for
        #if $any_has_data
            #set $p_exp   = ($seg['type'] == 'hr')
            #set $p_exp_s = 'true' if $p_exp else 'false'
            #set $p_show  = ' show' if $p_exp else ''
            #set $p_id    = 'nwm-val-panel-' + str($panel_idx)
            <div class="col-12 mb-3">
                <div class="card nwm-expansion-panel">
                    <div class="nwm-panel-header" data-toggle="collapse"
                         data-target="#${p_id}" aria-expanded="${p_exp_s}">
                        <span class="nwm-panel-title">${seg['title']}</span>
                        <span class="mdi mdi-chevron-down nwm-panel-icon"></span>
                    </div>
                    <div id="${p_id}" class="collapse${p_show}">
                        <div class="nwm-panel-body">
                            <div class="row">
                                #for $x in $seg['items']
                                    $renderValueItem($x)
                                #end for
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        #end if
    #end if
#end def

## +-------------------------------------------------------------------------+
## | Helper: render items inside a panel (or directly) for a chart segment   |
## +-------------------------------------------------------------------------+

#def renderChartSegment($seg, $panel_idx)
    #if $seg['type'] is None
        #for $x in $seg['items']
            $chartCard($x)
        #end for
    #else
        #set $any_has_data = False
        #for $x in $seg['items']
            #if $x.startswith('customChart')
                #set $cc = $Extras.Appearance.get($x, {})
                #if $cc
                    #set $cc_values_raw = $cc.get('values', '')
                    #if isinstance($cc_values_raw, list)
                        #set $cc_vals_list = [v.strip() for v in $cc_values_raw if v.strip()]
                    #else
                        #set $cc_vals_list = [v.strip() for v in $cc_values_raw.split(',') if v.strip()]
                    #end if
                    #set $cc_any_has_data = any($chartHasData(v) for v in $cc_vals_list)
                    #if len($cc_vals_list) > 0 and $cc_any_has_data
                        #set $any_has_data = True
                    #end if
                #end if
            #else if ($chartHasData($x) or $x == "windvec") and $x not in ["appTemp", "windrun"] and ($x != 'ET' or ($day.ET.sum.raw is not None and $day.ET.sum.raw >= 0.0))
                #set $any_has_data = True
            #end if
        #end for
        #if $any_has_data
            #set $p_exp   = ($seg['type'] == 'hr')
            #set $p_exp_s = 'true' if $p_exp else 'false'
            #set $p_show  = ' show' if $p_exp else ''
            #set $p_id    = 'nwm-chart-panel-' + str($panel_idx)
            <div class="col-12 mb-3">
                <div class="card nwm-expansion-panel">
                    <div class="nwm-panel-header" data-toggle="collapse"
                         data-target="#${p_id}" aria-expanded="${p_exp_s}">
                        <span class="nwm-panel-title">${seg['title']}</span>
                        <span class="mdi mdi-chevron-down nwm-panel-icon"></span>
                    </div>
                    <div id="${p_id}" class="collapse${p_show}">
                        <div class="nwm-panel-body">
                            <div class="row">
                                #for $x in $seg['items']
                                    $chartCard($x)
                                #end for
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        #end if
    #end if
#end def

## +-------------------------------------------------------------------------+
## | Collapsible Expansion Panels – pre-processing                           |
## +-------------------------------------------------------------------------+
##
## enablePanels: read from skin.conf [[Appearance]], default true
#set $enablePanels = str($Extras.Appearance.get('enablePanels', 'true')).strip().lower() not in ['false', 'no', '0']

## isPanelMarker: returns True when item is hr / hrc / hr:Title / hrc:Title
#set $isPanelMarker = lambda x: (x.strip().lower() in ('hr', 'hrc') or x.strip().lower()[:3] in ('hr:', 'hr ') or x.strip().lower()[:4] in ('hrc:', 'hrc '))

## --- Build value-card segments from values_order ---
#if isinstance($Extras.Appearance.values_order, list)
    #set $vo_list = [x.strip() for x in $Extras.Appearance.values_order if x.strip()]
#else
    #set $vo_list = [x.strip() for x in str($Extras.Appearance.values_order).split(',') if x.strip()]
#end if

#set $val_segments = []
#set $val_cur     = {'type': None, 'title': '', 'items': []}
#set $val_seen    = set()

#for $vi in $vo_list
    #set $vi_l = $vi.strip().lower()
    #if $enablePanels and ($vi_l == 'hr' or ($vi_l[:3] in ('hr:', 'hr ') and $vi_l[:3] != 'hrc'))
        #silent $val_segments.append($val_cur)
        ## Extract title: strip the 'hr' prefix (2 chars) + separator (: or space)
        #set $p_title_v = $vi.strip()[3:].strip()
        #set $val_cur = {'type': 'hr', 'title': $p_title_v, 'items': []}
    #else if $enablePanels and ($vi_l == 'hrc' or $vi_l[:4] in ('hrc:', 'hrc '))
        #silent $val_segments.append($val_cur)
        ## Extract title: strip the 'hrc' prefix (3 chars) + separator (: or space)
        #set $p_title_v = $vi.strip()[4:].strip()
        #set $val_cur = {'type': 'hrc', 'title': $p_title_v, 'items': []}
    #else if $vi not in $val_seen
        #silent $val_seen.add($vi)
        #silent $val_cur['items'].append($vi)
    #end if
#end for
#silent $val_segments.append($val_cur)

## --- Build chart segments from charts_order ---
#if isinstance($Extras.Appearance.charts_order, list)
    #set $co_list = [x.strip() for x in $Extras.Appearance.charts_order if x.strip()]
#else
    #set $co_list = [x.strip() for x in str($Extras.Appearance.charts_order).split(',') if x.strip()]
#end if

#set $chart_segments = []
#set $chart_cur     = {'type': None, 'title': '', 'items': []}
#set $chart_seen    = set()

#for $ci in $co_list
    #set $ci_l = $ci.strip().lower()
    #if $enablePanels and ($ci_l == 'hr' or ($ci_l[:3] in ('hr:', 'hr ') and $ci_l[:3] != 'hrc'))
        #silent $chart_segments.append($chart_cur)
        #set $p_title_c = $ci.strip()[3:].strip()
        #set $chart_cur = {'type': 'hr', 'title': $p_title_c, 'items': []}
    #else if $enablePanels and ($ci_l == 'hrc' or $ci_l[:4] in ('hrc:', 'hrc '))
        #silent $chart_segments.append($chart_cur)
        #set $p_title_c = $ci.strip()[4:].strip()
        #set $chart_cur = {'type': 'hrc', 'title': $p_title_c, 'items': []}
    #else if $ci not in $chart_seen
        #silent $chart_seen.add($ci)
        #silent $chart_cur['items'].append($ci)
    #end if
#end for
#silent $chart_segments.append($chart_cur)

## +-------------------------------------------------------------------------+
## | The main page layout                                                    |
## +-------------------------------------------------------------------------+

<!DOCTYPE html>
<html lang="$lang">
    <head>
        <title>
            $gettext("current") | $station.location
        </title>
        #include "head.inc"
    </head>
    <body class="${Extras.Appearance.mode}-theme main-bg" ontouchstart="">

        #attr $active_nav = 'current'
        #include "header.inc"

        #set global $card_scope = $page
        #set global $card_default = $Extras.Formatting.datetime_today
        #include "card_datetime.inc"
        <main>
            <div class="container-fluid d-flex-xxl flex-wrap">

                <div class="row mt-3 temprow align-content-start">
                    #set $val_panel_idx = 0
                    #for $seg in $val_segments
                        #if $seg['type'] is not None
                            #set $val_panel_idx = $val_panel_idx + 1
                        #end if
                        #if $seg['type'] is None
                            ## Non-panel: render inline so #include "forecast.inc" runs
                            ## in main template scope (not inside a def method).
                            #for $vi_item in $seg['items']
                                #if $vi_item == 'forecast'
                                    #include "forecast.inc"
                                #else
                                    $valuesCard($vi_item)
                                #end if
                            #end for
                        #else
                            $renderValSegment($seg, $val_panel_idx)
                        #end if
                    #end for

                </div>

                <hr class="m-0 mb-4 rowdivider">

                <div class="row mt-3 graphrow align-content-start">
                    #set $chart_panel_idx = 0
                    #for $seg in $chart_segments
                        #if $seg['type'] is not None
                            #set $chart_panel_idx = $chart_panel_idx + 1
                        #end if
                        $renderChartSegment($seg, $chart_panel_idx)
                    #end for
                </div>

                #set $embedded_order = $Extras.Appearance.embedded_order
                #if not isinstance($embedded_order, list)
                    #if $embedded_order.strip() == ""
                        #set $embedded_order = []
                    #else
                        #set $embedded_order = [$embedded_order]
                    #end if
                #end if
                ## Show embedded section only if there are embedded items
                #if len($embedded_order) > 0
                    <div class="row align-content-start flex-grow-1">
                        <div class="col-12 "><hr class="mt-0 mb-4"></div>
                        #set seen_embedded = set()
                        #for $x in $embedded_order
                            #if $x not in $seen_embedded
                                #silent $seen_embedded.add($x)
                                #if $x.startswith("iFrame")
                                    $iframeCard($x)
                                #else if $x.startswith("image")
                                    $imageCard($x)
                                #else
                                    $notFoundCard($x)
                                #end if
                            #end if
                        #end for
                    </div>
                #end if
            </div>
        </main>

        #include "footer.inc"

        ## +-------------------------------------------------------------------------+
        ## | MQTT Configuration - Injected as global variables                       |
        ## +-------------------------------------------------------------------------+
        ## +-------------------------------------------------------------------------+
        ## | MQTT Configuration - Injected as global variables                       |
        ## +-------------------------------------------------------------------------+
        #set $mqtt_enabled = ($Extras.MQTT.enabled == "true" or $Extras.MQTT.enabled == True)
        #if $mqtt_enabled
            #set $enabled_str = "true"
        #else
            #set $enabled_str = "false"
        #end if
        #set $mqtt_debug = ($Extras.MQTT.get('debug', 'false') == "true" or $Extras.MQTT.get('debug', False) == True)
        #if $mqtt_debug
            #set $debug_str = "true"
        #else
            #set $debug_str = "false"
        #end if
        #set $flash_on_update = $Extras.MQTT.get('flash_on_update', 'true')
        #if $flash_on_update == 'true' or $flash_on_update == True
            #set $flash_on_update_str = "true"
        #else
            #set $flash_on_update_str = "false"
        #end if
        #set $flash_color_raw = $Extras.MQTT.get('flash_color', '#00ff00')
        #set $flash_color = $flash_color_raw.strip('"').strip("'") if $flash_color_raw else '#00ff00'
        #set $skip_timestamp_check = $Extras.MQTT.get('skip_timestamp_check', 'false')
        #if $skip_timestamp_check == 'true' or $skip_timestamp_check == True
            #set $skip_timestamp_check_str = "true"
        #else
            #set $skip_timestamp_check_str = "false"
        #end if
        #set $message_timestamp_field = $Extras.MQTT.get('message_timestamp_field', 'dateTime')
        <script type="text/javascript">
            // MQTT Connection Configuration from skin.conf
            window.MQTT_CONFIG = {
                enabled: $enabled_str,
                debug: $debug_str,
                host: "$Extras.MQTT.host",
                port: $Extras.MQTT.port,
                websocket_path: "$Extras.MQTT.websocket_path",
                use_ssl: $Extras.MQTT.use_ssl,
                username: "$Extras.MQTT.username",
                password: "$Extras.MQTT.password",
                topic: "$Extras.MQTT.topic",
                text_connected: "$gettext('mqtt_connected')",
                text_failed: "$gettext('mqtt_failed')",
                flash_on_update: $flash_on_update_str,
                flash_color: "$flash_color",
                message_timestamp_field: "$message_timestamp_field",
                skip_timestamp_check: $skip_timestamp_check_str,
                message_format: "$Extras.MQTT.get('message_format', 'json')",
                directions: [#for $d in $Labels.Generic.directions#"${d.strip()}",#end for#]
            };

            // DateTime format configuration
            // Pass the strftime formats from skin.conf to JavaScript
            // JavaScript will convert them from Python strftime to JS format tokens
            window.DATETIME_CONFIG = {
                weewx_format: "$Extras.Formatting.get('datetime_updated', $Extras.Formatting.get('datetime', '%a %d %H:%M'))",
                date_format:  "$Extras.Formatting.get('date',     '%d.%m.%Y')",
                time_format:  "$Extras.Formatting.get('time',     '%H:%M:%S')"
            };

            // MQTT Sensor Mapping Configuration from skin.conf
            // Parsed from CSV format: sensor_name = "payload_attr", "unit", decimals
            // ConfigObj automatically parses this as a list
            window.MQTT_SENSOR_MAPPING = {
                #for $sensor_name in $Extras.MQTT.SensorMapping
                    #set $config = $Extras.MQTT.SensorMapping[$sensor_name]
                    #if isinstance($config, list) and len($config) >= 3
                        '$sensor_name': {
                            payloadAttr: '$config[0]',
                            unit: '$config[1]',
                            decimals: $int($config[2])
                        },
                    #end if
                #end for
            };
        </script>

        #include "js.inc"

        ## +-------------------------------------------------------------------------+
        ## | Chart generation methods (get data for charts + their JS code)          |
        ## +-------------------------------------------------------------------------+

        ## +-------------------------------------------------------------------------+
        ## | Get data array for a chart                                              |
        ## |                                                                         |
        ## | string  $name    the name of the database field  (e.g. outTemp)         |
        ## | string  $column  the column of the display value (e.g. min, max, avg)   |
        ## +-------------------------------------------------------------------------+

        #def getChartData($name, $column)
            #set current_interval = int($Extras.Charts.current_timespan)
            #if $name == "rain" or $name == "ET"
                #set current_interval = int($Extras.Charts.current_rain_timespan)
            #end if

            #set $records = list($span($time_delta=$custom_time_delta).spans(interval=current_interval))
            #for idx, record in enumerate($records)
                #try
                    #set val = $getattr($record, $name)
                    #set data = $getattr($val, $column).format(add_label=False, localize=False, None_string="null")
                    #if $data != "null" or $idx == 0 or $idx == len($records) - 1
                        [$record.start.raw * 1000, $data],
                    #end if
                #except

                #end try
            #end for
        #end def

        ## +-------------------------------------------------------------------------+
        ## | Get JavaScript code for a chart                                         |
        ## |                                                                         |
        ## | string  $name     the name of the database field   (e.g. outTemp)       |
        ## | string  $id       the ID of the chart target       (without hash)       |
        ## | string  $type     type of chart                    (area, bar, radar)   |
        ## | string  $series1  field name for (1st) series      (e.g. outTemp)       |
        ## | string  $series2  opt. field name for 2nd series   (e.g. outTemp or "") |
        ## | string  $column   the column of the display value  (e.g. min, max, avg) |
        ## | string  $series3  opt. field name for 3rd series   (e.g. outTemp or "") |
        ## | string  $series4  opt. field name for 4th series   (e.g. outTemp or "") |
        ## | string  $series5  opt. field name for 5th series   (e.g. outTemp or "") |
        ## | string  $series6  opt. field name for 6th series   (e.g. outTemp or "") |
        ## | string  $series7  opt. field name for 7th series   (e.g. outTemp or "") |
        ## | string  $series8  opt. field name for 8th series   (e.g. outTemp or "") |
        ## +-------------------------------------------------------------------------+

        #def getChartJsCode($name, $id, $type, $series1, $series2 = "", $column = "avg", $series3 = "", $series4 = "", $series5 = "", $series6 = "", $series7 = "", $series8 = "")

            ## Only add JS chart code if in array
            #if $name in $Extras.Appearance.charts_order
                #set global $cc_name  = $name
                #set global $cc_scope = ''
                #include "chart_colors_setup.inc"

                var chartElement = document.querySelector('#$id');
                if (chartElement) {
                    new ApexCharts(chartElement, {
                        ...graph_${type}_config,
                        ## Per-series colors aligned to emitted series: series1 = slot 0; series2-8
                        ## each advance a slot, appending a color only when the series has data.
                        #set $sc_color_list = []
                        #silent $sc_color_list.append($cc_color_refs[0] if len($cc_color_refs) > 0 else 'default')
                        #set $sc_pos = 1
                        #for $sname in [$series2, $series3, $series4, $series5, $series6, $series7, $series8]
                            #if $sname != ""
                                #if $chartHasData($sname)
                                    #silent $sc_color_list.append($cc_color_refs[$sc_pos] if $sc_pos < len($cc_color_refs) else 'default')
                                #end if
                                #set $sc_pos = $sc_pos + 1
                            #end if
                        #end for
                        #if len($cc_color_refs) > 0 and len($sc_color_list) > 0
                        colors: neowxChartColors([
                            #for $cref in $sc_color_list
                            "$cref",
                            #end for
                        ], $len($sc_color_list), "$name"),
                        #end if
                        #if $pg_align_mid and $type != 'radar'
                            xaxis: {
                                ...graph_${type}_config.xaxis,
                                #include "graph_align_axis.inc"
                            },
                        #end if
                        #if $name == "windDir"
                            yaxis: {
                                max: 360,
                                min: 0,
                                type: 'datetime',
                                tickAmount: 8,
                                trim: false,
                                labels: {
                                    tickAmount: 8,
                                    rotateAlways: false,
                                    hideOverlappingLabels: true,
                                    showDuplicates: false,
                                    trim: false,
                                    formatter: function(val, timestamp) {
                                        var degrees = Number(val);
                                        var direction = getOrdinalDirection(degrees);
                                        return direction;
                                    }
                                },
                            },
                            tooltip: {
                                enabled: true,
                                y: {
                                    formatter: function (val) {
                                        var degrees = Number(val);
                                        var direction = getOrdinalDirection(degrees);
                                        return direction + ' (' + degrees.toFixed(0) + '°)';
                                    }
                                },
                            },
                        #else
                            yaxis: {
                                labels: {
                                    formatter: function (val) {
                                        return formatNumber(val, "$getVar('unit.format.' + series1)") + "$getVar('unit.label.' + series1)";
                                    }
                                },
                            },
                        #end if
                        series: [
                            {
                                name: "$getVar('obs.label.' + series1)",
                                data: [ $getChartData(series1, column) ]
                            }
                            #if $series2 != "" and $chartHasData(series2)
                                ,{
                                    name: "$getVar('obs.label.' + series2)",
                                    data: [ $getChartData(series2, column) ]
                                }
                            #end if
                            #if $series3 != "" and $chartHasData(series3)
                                ,{
                                    name: "$getVar('obs.label.' + series3)",
                                    data: [ $getChartData(series3, column) ]
                                }
                            #end if
                            #if $series4 != "" and $chartHasData(series4)
                                ,{
                                    name: "$getVar('obs.label.' + series4)",
                                    data: [ $getChartData(series4, column) ]
                                }
                            #end if
                            #if $series5 != "" and $chartHasData(series5)
                                ,{
                                    name: "$getVar('obs.label.' + series5)",
                                    data: [ $getChartData(series5, column) ]
                                }
                            #end if
                            #if $series6 != "" and $chartHasData(series6)
                                ,{
                                    name: "$getVar('obs.label.' + series6)",
                                    data: [ $getChartData(series6, column) ]
                                }
                            #end if
                            #if $series7 != "" and $chartHasData(series7)
                                ,{
                                    name: "$getVar('obs.label.' + series7)",
                                    data: [ $getChartData(series7, column) ]
                                }
                            #end if
                            #if $series8 != "" and $chartHasData(series8)
                                ,{
                                    name: "$getVar('obs.label.' + series8)",
                                    data: [ $getChartData(series8, column) ]
                                }
                            #end if
                        ]
                    }).render()
                }

            #end if

        #end def

        ## +-------------------------------------------------------------------------+
        ## | Chart definitions                                                       |
        ## +-------------------------------------------------------------------------+

        <script type="text/javascript">
            // Config templates

            ## ---- align setup (once per page): shared by standard AND custom charts ----
            #set global $align_start = int($span($time_delta=$custom_time_delta).start.raw)
            #set global $align_stop  = int($current.dateTime.raw)
            #include "graph_align_setup.inc"
            var graph_area_config = {
                #include "graph_area_config.inc"
            }
            var graph_bar_config = {
                #include "graph_bar_config.inc"
            }
            var graph_radar_config = {
                #include "graph_radar_config.inc"
            }
            var graph_line_config = {
                #include "graph_line_config.inc"
            }

            // --- Special charts: multi-series or non-default columns ---
            #set $processed_charts = set()

            // Wind
            #if $chartHasData('windSpeed')
                $getChartJsCode("windSpeed", "windSpeedchart", "area", "windSpeed", "windGust", "max")
            #end if
            #silent $processed_charts.add("windSpeed")


            // Build wind vector chart
            var vector_data = {
                'N': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'NE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'E': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'SE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'S': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'SW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'W': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'NW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
            };

            var raw_data = [
                #for $record in $span($time_delta=$custom_time_delta).spans(interval=int($Extras.Charts.current_timespan))
                    {
                        'dir': "$record.wind.vecdir.raw",
                        'speed': "$record.windSpeed.avg.raw",
                        'max': "$record.windGust.max.raw"
                    },
                #end for
            ];

            raw_data.forEach(function(item) {
                var vec_dir = parseInt(item.dir);
                var vec_speed = parseFloat(item.speed);
                var max_speed = parseFloat(item.max);

                if(typeof vec_dir === 'number') {
                    var vec_key = false;

                    // Detect key based on vec direction (0-360). 45° steps, using the middle +- 45/2=22.5
                    if(vec_dir > 337.5 || vec_dir <= 22.5) {
                        vec_key = 'N';
                    }
                    if(vec_dir > 22.5 && vec_dir <= 67.5) {
                        vec_key = 'NE';
                    }
                    if(vec_dir > 67.5 && vec_dir <= 112.5) {
                        vec_key = 'E';
                    }
                    if(vec_dir > 112.5 && vec_dir <= 157.5) {
                        vec_key = 'SE';
                    }
                    if(vec_dir > 157.5 && vec_dir <= 202.5) {
                        vec_key = 'S';
                    }
                    if(vec_dir > 202.5 && vec_dir <= 247.5) {
                        vec_key = 'SW';
                    }
                    if(vec_dir > 247.5 && vec_dir <= 292.5) {
                        vec_key = 'W';
                    }
                    if(vec_dir > 292.5 && vec_dir <= 337.5) {
                        vec_key = 'NW';
                    }

                    if(vec_key !== false) {
                        vector_data[vec_key]['sum'] += vec_speed;
                        vector_data[vec_key]['amt']++;

                        if(max_speed > vector_data[vec_key]['max']) {
                            vector_data[vec_key]['max'] = max_speed;
                        }
                    }

                }
            });

            // Finally build arrays for chart
            var avg_values = [];
            var max_values = [];
            Object.keys(vector_data).forEach(function (item) {
                if(vector_data[item]['amt'] > 0) {
                    avg_values.push(vector_data[item]['sum'] / vector_data[item]['amt']);
                    } else {
                    avg_values.push(0);
                }

                max_values.push(vector_data[item]['max'])
            });

            // Display wind vector chart

            #set global $cc_name  = 'windvec'
            #set global $cc_scope = ''
            #include "chart_colors_setup.inc"
            #set $sc_color_list = []
            #silent $sc_color_list.append($cc_color_refs[0] if len($cc_color_refs) > 0 else 'default')
            #silent $sc_color_list.append($cc_color_refs[1] if len($cc_color_refs) > 1 else 'default')
            var windvecchart = document.querySelector('#windvecchart');
            if (windvecchart) {
                new ApexCharts(windvecchart, {
                    ...graph_radar_config,
                    #if len($cc_color_refs) > 0
                    colors: neowxChartColors([
                        #for $cref in $sc_color_list
                        "$cref",
                        #end for
                    ], $len($sc_color_list), "windvec"),
                    #end if
                    yaxis: {
                        labels: {
                            formatter: function (val) {
                                return formatNumber(val, "$unit.format.windSpeed") + "$unit.label.windSpeed";
                            }
                        }
                    },
                    series: [
                        {
                            name: "$obs.label.windSpeed",
                            data: avg_values
                        },
                        {
                            name: "$obs.label.windGust",
                            data: max_values
                        },
                    ]
                }).render()
            }
            #silent $processed_charts.add("windvec")

            // --- Default single-series charts: loop over charts_order ---
            // Charts added to $processed_charts above are skipped here
            // Chart type overrides for charts that are not 'area' (default)
            #set $default_chart_types = {'windDir': 'line', 'rain': 'bar', 'snowDepth': 'bar', 'lightning_strike_count': 'bar', 'lightning_noise_count': 'bar', 'lightning_disturber_count': 'bar', 'lightning_distance': 'bar'}
            // Aggregate column overrides for charts that are not 'avg' (default)
            #set $default_chart_columns = {'windDir': 'vecdir', 'ET': 'sum', 'rain': 'sum', 'UV': 'max', 'radiation': 'max', 'luminosity': 'max', 'snowDepth': 'sum', 'lightning_strike_count': 'sum'}
            // Series1 field overrides for charts where the series field name differs from the chart name
            #set $default_chart_series = {'windDir': 'wind'}

            #for $x in $Extras.Appearance.charts_order
                #set $x_nm = $x.strip().lower()
                #if not $x.startswith('customChart') and $x not in $processed_charts and not ($x_nm in ('hr', 'hrc') or $x_nm[:3] in ('hr:', 'hr ') or $x_nm[:4] in ('hrc:', 'hrc '))
                    #silent $processed_charts.add($x)
                    #if $chartHasData($x)
                        #set $c_type = $default_chart_types.get($x, 'area')
                        #set $c_col = $default_chart_columns.get($x, 'avg')
                        #set $c_series = $default_chart_series.get($x, $x)
                        #set $c_id = $x + 'chart'
                        $getChartJsCode($x, $c_id, $c_type, $c_series, "", $c_col)
                    #end if
                #end if
            #end for

            // Custom charts (dynamically generated from skin.conf [[Appearance]] [[[customChart*]]] sections)
            #set $seen_custom_charts = set()
            #for $x in $Extras.Appearance.charts_order
                #if $x.startswith('customChart') and $x not in $seen_custom_charts
                    #silent $seen_custom_charts.add($x)
                    #set $cc = $Extras.Appearance.get($x, {})
                    #if $cc
                        #set $cc_type = $cc.get('charttype', 'area')
                        ## Page-specific override subsection (key = "current" for this page).
                        #set $cc_page = $cc.get('current', {})
                        ## Resolve column list: page → top-level → 'avg'
                        #set $cc_column_raw = $cc_page.get('column', $cc.get('column', 'avg'))
                        #set $cc_cols = ['avg']
                        #if isinstance($cc_column_raw, list)
                            #set $cc_cols = [c.strip() for c in $cc_column_raw if c.strip()]
                        #else
                            #set $cc_cols = [c.strip() for c in str($cc_column_raw).split(',') if c.strip()]
                        #end if
                        #if len($cc_cols) == 0
                            #set $cc_cols = ['avg']
                        #end if
                        ## Resolve values list: page → top-level
                        #set $cc_values_raw = $cc_page.get('values', $cc.get('values', ''))
                        #if isinstance($cc_values_raw, list)
                            #set $cc_vals = [v.strip() for v in $cc_values_raw if v.strip()]
                        #else
                            #set $cc_vals = [v.strip() for v in str($cc_values_raw).split(',') if v.strip()]
                        #end if
                        ## Build cc_series_pairs from field-name keys or values+column fallback
                        ## Build cc_field_map without a generator (avoids Python 3 / Cheetah scope issue)
                        #set $cc_field_map = {}
                        #for $fk, $fv in $cc_page.items()
                            #if $fk not in ('column', 'values', 'title', 'charttype', 'yaxis', 'yaxis_config', 'datetime_label_format', 'datetime_tooltip_format', 'colors', 'tick_style') and isinstance($fv, (str, list))
                                #silent $cc_field_map[$fk] = $fv
                            #end if
                        #end for
                        #if len($cc_field_map) > 0
                            #set $cc_series_pairs = []
                            #for $field_k, $col_v in $cc_field_map.items()
                                #if isinstance($col_v, list)
                                    #set $cols_k = [c.strip() for c in $col_v if c.strip()]
                                #else
                                    #set $cols_k = [c.strip() for c in $col_v.split(',') if c.strip()]
                                #end if
                                #if $cols_k
                                    #silent $cc_series_pairs.append(($field_k, $cols_k))
                                #end if
                            #end for
                        #else
                            ## Use #for loop instead of list comprehension to avoid Cheetah/Python 3
                            ## scope issue where $cc_cols cannot be resolved inside a comprehension.
                            #set $cc_series_pairs = []
                            #for $v in $cc_vals
                                #silent $cc_series_pairs.append(($v, $cc_cols))
                            #end for
                        #end if

                        ## +-------------------------------------------------------------+
                        ## | Multi-Axis Configuration Parser                             |
                        ## +-------------------------------------------------------------+
                        ## Parse yaxis configuration for multi-axis support
                        #set $yaxis_config = $cc_page.get('yaxis_config', $cc.get('yaxis_config', {}))
                        #set $axis_map = {}  ## Maps series_name -> axis_id (y1, y2, etc)
                        #set $axes_used = set()  ## Track which axes are actually used

                        ## Check for yaxis subsection that maps fields to axes
                        #set $yaxis_section = $cc_page.get('yaxis', $cc.get('yaxis', {}))
                        #if isinstance($yaxis_section, dict)
                            #for $yaxis_item in $yaxis_section.items()
                                #set $field_k = $yaxis_item[0]
                                #set $axis_id = $yaxis_item[1]
                                #set $axis_id_clean = str($axis_id).strip()
                                #silent $axis_map[$field_k] = $axis_id_clean
                                #silent $axes_used.add($axis_id_clean)
                            #end for
                        #end if

                        ## Default: all series on y1 if no assignments
                        #if len($axis_map) == 0
                            #for $field_k, $cols_k in $cc_series_pairs
                                #silent $axis_map[$field_k] = 'y1'
                                #silent $axes_used.add('y1')
                            #end for
                        #else
                            ## Ensure any unmapped fields get y1
                            #for $field_k, $cols_k in $cc_series_pairs
                                #if $field_k not in $axis_map
                                    #silent $axis_map[$field_k] = 'y1'
                                    #silent $axes_used.add('y1')
                                #end if
                            #end for
                        #end if

                        ## Build sorted list of axes (y1, y2, y3, ...)
                        #set $axes_list = sorted(list($axes_used))

                        ## Resolve per-chart date-format overrides (shared logic)
                        #set global $cc_name  = $x
                        #set global $cc_scope = 'current'
                        #include "chart_date_format.inc"
                        #include "chart_tick_setup.inc"
                        #include "chart_colors_setup.inc"

                        ## Render chart JS
                        #if len($cc_series_pairs) > 0 and $x in $Extras.Appearance.charts_order
                            #set $cc_id = $x + "chart"
                            #try
                                #set $_ = $axes_list
                            #except
                                #set $axes_list = ['y1']
                            #end try
                            var chartElement = document.querySelector('#$cc_id');
                            if (chartElement) {
                                new ApexCharts(chartElement, {
                                    ...graph_${cc_type}_config,
                                    #if $cc_label_fmt or $pg_align_mid or $cc_tick_set
                                    xaxis: {
                                        ...graph_${cc_type}_config.xaxis,
                                        #include "chart_tick_axis.inc"
                                        #if $cc_label_fmt
                                        labels: { ...graph_${cc_type}_config.xaxis.labels, formatter: neowxDateFormatter("$cc_label_fmt") }
                                        #end if
                                    },
                                    #end if
                                    #if $cc_tooltip_fmt or len($axes_list) > 1
                                    tooltip: {
                                        ...graph_${cc_type}_config.tooltip,
                                        #if $cc_tooltip_fmt
                                        x: { ...graph_${cc_type}_config.tooltip.x, formatter: neowxDateFormatter("$cc_tooltip_fmt") },
                                        #end if
                                        #if len($axes_list) > 1
                                        ## Per-series tooltip unit formatter. ApexCharts picks the y-axis label
                                        ## formatter by series index, which mismatches units on multi-axis charts
                                        ## (e.g. >1 series per axis). Key the unit off the series name instead.
                                        #set $series_field_by_name = {}
                                        #for $ttf_val, $ttf_cols in $cc_series_pairs
                                            #silent $series_field_by_name[$getVar('obs.label.' + $ttf_val)] = $ttf_val
                                        #end for
                                        y: {
                                            formatter: function (val, opts) {
                                                var u = {
                                                    #for $ttn, $ttf in $series_field_by_name.items()
                                                    "$ttn": ["$getVar('unit.format.' + $ttf)", "$getVar('unit.label.' + $ttf)"],
                                                    #end for
                                                };
                                                var s = opts.w.config.series[opts.seriesIndex];
                                                var p = s ? u[s.name] : null;
                                                return p ? (formatNumber(val, p[0]) + p[1]) : val;
                                            }
                                        },
                                        #end if
                                    },
                                    #end if
                                    #if len($axes_list) <= 1
                                        ## Single axis (backward compatible)
                                        yaxis: {
                                            labels: {
                                                formatter: function (val) {
                                                    return formatNumber(val, "$getVar('unit.format.' + cc_series_pairs[0][0])") + "$getVar('unit.label.' + cc_series_pairs[0][0])";
                                                }
                                            },
                                        },
                                    #else
                                        ## Multiple axes configuration
                                        ## Build per-axis lists of the emitted series names so seriesName can be
                                        ## an ARRAY. An array seriesName makes ApexCharts use its array-style axis
                                        ## mapping, which avoids a crash in setSeriesYAxisMappings when a series'
                                        ## index exceeds the y-axis count (e.g. >1 field on an axis, or >2 series).
                                        #set $axis_series_names = {}
                                        #for $asn_axis_id in $axes_list
                                            #silent $axis_series_names[$asn_axis_id] = []
                                        #end for
                                        #for $asn_val, $asn_cols in $cc_series_pairs
                                            #set $asn_axis = $axis_map.get($asn_val, $axes_list[0])
                                            #if $asn_axis not in $axis_series_names
                                                #set $asn_axis = $axes_list[0]
                                            #end if
                                            #silent $axis_series_names[$asn_axis].append($getVar('obs.label.' + $asn_val))
                                        #end for
                                        yaxis: [
                                            #for $axis_entry in enumerate($axes_list)
                                                #set $idx = $axis_entry[0]
                                                #set $axis_id = $axis_entry[1]
                                                ## Find fields assigned to this axis
                                                #set $fields_on_axis = []
                                                #for $f, $a in $axis_map.items()
                                                    #if $a == $axis_id
                                                        #silent $fields_on_axis.append($f)
                                                    #end if
                                                #end for
                                                #set $first_field = $fields_on_axis[0] if len($fields_on_axis) > 0 else $cc_series_pairs[0][0]
                                                ## Get axis-specific configuration
                                                #set $axis_cfg = $yaxis_config.get($axis_id, {})
                                                #set $axis_title = $axis_cfg.get('title', '')
                                                #set $axis_opposite_raw = $axis_cfg.get('opposite', None)
                                                ## Default: first axis on left (false), others on right (true)
                                                #if $axis_opposite_raw is None
                                                    #set $axis_opposite = 'true' if $idx > 0 else 'false'
                                                #else
                                                    #set $axis_opposite = 'true' if str($axis_opposite_raw).lower() in ['true', 'yes', '1'] else 'false'
                                                #end if
                                                #set $axis_decimals = $axis_cfg.get('decimals', None)
                                                #set $axis_min = $axis_cfg.get('min', None)
                                                #set $axis_max = $axis_cfg.get('max', None)
                                            {
                                                #set $asn_list = $axis_series_names.get($axis_id, [])
                                                #if not $asn_list
                                                    #set $asn_list = [$getVar('obs.label.' + $first_field)]
                                                #end if
                                                seriesName: [
                                                    #for $asn in $asn_list
                                                        "$asn",
                                                    #end for
                                                ],
                                                #if $axis_title
                                                title: {
                                                    text: "$axis_title",
                                                    style: {
                                                        fontSize: '12px',
                                                    }
                                                },
                                                #end if
                                                opposite: $axis_opposite,
                                                #if $axis_min is not None
                                                min: $axis_min,
                                                #end if
                                                #if $axis_max is not None
                                                max: $axis_max,
                                                #end if
                                                labels: {
                                                    formatter: function (val) {
                                                        #if $axis_decimals is not None
                                                        return formatNumber(val, "%.$axis_decimals\f") + "$getVar('unit.label.' + $first_field)";
                                                        #else
                                                        return formatNumber(val, "$getVar('unit.format.' + $first_field)") + "$getVar('unit.label.' + $first_field)";
                                                        #end if
                                                    }
                                                },
                                            },
                                            #end for
                                        ],
                                    #end if
                                    #if len($axes_list) > 1
                                    ## Multi-axis assigns each series an axis group, which makes ApexCharts
                                    ## cluster the legend by axis (out of series order). Keep series order.
                                    legend: { ...graph_${cc_type}_config.legend, clusterGroupedSeries: false },
                                    #end if
                                    series: [
                                        #set $cc_color_list = []
                                        #set $cc_pos = 0
                                        #for $val, $cols in $cc_series_pairs
                                            #if $chartHasData(val)
                                                {
                                                    name: "$getVar('obs.label.' + val)",
                                                    data: [ $getChartData(val, cols[0]) ]
                                                },
                                                #silent $cc_color_list.append($cc_color_refs[$cc_pos] if $cc_pos < len($cc_color_refs) else 'default')
                                            #end if
                                            #set $cc_pos = $cc_pos + 1
                                        #end for
                                    ],
                                    #if len($cc_color_refs) > 0 and len($cc_color_list) > 0
                                        #set $cc_color_count = len($cc_color_list)
                                        colors: neowxChartColors([
                                        #for $cref in $cc_color_list
                                            "$cref",
                                        #end for
                                        ], $cc_color_count, "$x"),
                                    #end if
                                }).render()
                            }
                        #end if
                    #end if
                #end if
            #end for

        </script>

        <script src="$Extras.MQTT.paho_mqtt_url" type="text/javascript"></script>
        <script type="text/javascript" src="js/weewx-mqtt.js?v=$Extras.version"></script>

    </body>
</html>