#encoding UTF-8
## +-------------------------------------------------------------------------+
## |    month-%Y-%m.html.tmpl    Template file for "monthly archive" page    |
## +-------------------------------------------------------------------------+

#attr $active_nav = 'archive'
#attr $page = 'month'

## Access HistoryReport section from skin.conf
#set $table_dict = $generator.skin_dict['HistoryReport']
#set $threshold_unit = $table_dict.get('threshold_unit', 'degree_C')
## Use #set global so these are accessible inside #def renderValueItem()
#set global $SummerDay = ($table_dict.get('summer_days_threshold', 25.0),  $threshold_unit)
#set global $TropicDay = ($table_dict.get('tropical_days_threshold', 30.0),  $threshold_unit)
#set global $TropicNight = ($table_dict.get('tropical_nights_threshold', 20.0),  $threshold_unit)
#set global $ArcticDay = ($table_dict.get('arctic_days_threshold', 0.0),  $threshold_unit)

#def valuesCard($name)
    #set $_nm = $name.strip().lower()
    #if not ($_nm in ('hr', 'hrc') or $_nm[:3] in ('hr:', 'hr ') or $_nm[:4] in ('hrc:', 'hrc '))
    ## ET requires a valid positive sum to be shown
    #if $getVar('month.' + name + '.has_data') and ($name != 'ET' or ($month.ET.sum.raw is not None and $month.ET.sum.raw > 0.0))
        <div class="col-12 col-lg-6 mb-4">
            <div class="card card-value" id="${name}-value" data-name="$name">
                <div class="card-body text-center">
                    <h3 class="h5-responsive $Extras.color-text">
                        $getVar('obs.label.' + name)
                        #if $name == 'windSpeed'

                            <i class="wi wi-wind from-$month.wind.vecdir.formatted-deg"
                            title="$month.wind.vecdir.formatted°" data-toggle="tooltip" data-html="true"></i>

                        #end if
                    </h3>

                    #if $name == 'windSpeed'

                        <div class="row">
                            <div class="col-3 text-muted font-small lo-text">
                                $month.wind.avg <br>
                                $gettext("avg")
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">
                                    $month.windSpeed.max $month.wind.vecdir.ordinal_compass
                                </h4>
                            </div>
                            <div class="col-3 text-muted font-small hi-text">
                                $month.wind.max $month.wind.gustdir.ordinal_compass <br>
                                <i class="wi wi-wind from-$month.wind.gustdir.formatted-deg mr-2"
                                title="$month.wind.gustdir.formatted°" data-toggle="tooltip" data-html="true"></i>
                                ($month.wind.maxtime.format($card_datetime))
                            </div>
                        </div>

                    #else if $name == 'rain'

                        <div class="row">
                            <div class="col-3 text-muted font-small">

                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$month.rain.sum</h4>
                            </div>
                            <div class="col-3 text-muted font-small hi-text">
                                $month.rainRate.max <br>
                                ($month.rainRate.maxtime.format($card_datetime))
                            </div>
                        </div>

                    #else if $name in set(['lightning_strike_count', 'windrun', 'ET'])

                        ## Sum-only display: no min/max context
                        <div class="row">
                            <div class="col-3 text-muted font-small lo-text"></div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$getVar('month.' + name + '.sum')</h4>
                            </div>
                            <div class="col-3 text-muted font-small hi-text"></div>
                        </div>

                    #else

                        <div class="row">
                            <div class="col-3 text-muted font-small lo-text">
                                $getVar('month.' + name + '.min') <br>
                                ($getVar('month.' + name + '.mintime').format($card_datetime))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$getVar('month.' + name + '.avg')</h4>
                            </div>
                            <div class="col-3 text-muted font-small hi-text">
                                $getVar('month.' + name + '.max') <br>
                                ($getVar('month.' + name + '.maxtime').format($card_datetime))
                            </div>
                        </div>

                    #end if

                </div>
            </div>
        </div>
    #end if
    #end if  ## panel-marker guard
#end def

#def chartCard($name, $id, $name2 = "XX")
    #set $_nm = $name.strip().lower()
    #if not ($_nm in ('hr', 'hrc') or $_nm[:3] in ('hr:', 'hr ') or $_nm[:4] in ('hrc:', 'hrc '))
    #if $name.startswith('customChart')
        #set $cc = $Extras.Appearance.get($name, {})
        #if $cc
            #set $cc_title = $cc.get('title', $name)
            #set $cc_values_raw = $cc.get('values', '')
            #if isinstance($cc_values_raw, list)
                #set $cc_vals_list = [v.strip() for v in $cc_values_raw if v.strip()]
            #else
                #set $cc_vals_list = [v.strip() for v in $cc_values_raw.split(',') if v.strip()]
            #end if
            #set $cc_any_has_data = any($getVar('month.' + v + '.has_data') for v in $cc_vals_list)
            #set $cc_sensors_str = chr(44).join($cc_vals_list)
            #if len($cc_vals_list) > 0 and $cc_any_has_data
                <div class="col-12 col-xl-6 mb-4">
                    <div class="card card-chart" id="${name}-chart" data-name="$name" data-sensors="$cc_sensors_str">
                        <div class="card-body text-center">
                            <h5 class="h5-responsive $Extras.color-text">$cc_title</h5>
                            <div id="$id"></div>
                        </div>
                    </div>
                </div>
            #end if
        #end if
    #else if ($getVar('month.' + name + '.has_data') or $name == "windvec") and $name != "appTemp" and ($name != 'ET' or ($month.ET.sum.raw is not None and $month.ET.sum.raw > 0.0))
        <div class="col-12 col-xl-6 mb-4">
            <div class="card card-chart" id="${name}-chart" data-name="$name">
                <div class="card-body text-center">
                    <h5 class="h5-responsive $Extras.color-text">
                        #if $name2 != "XX"
                            $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name)) &
                            $getVar('Extras.Charts.Titles.' + name2, $getVar('obs.label.' + name2))
                        #else
                            $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name))
                        #end if
                    </h5>
                    <div id="$id"></div>
                </div>
            </div>
        </div>
    #end if
    #end if  ## panel-marker guard
#end def

## +-------------------------------------------------------------------------+
## | Helper: render a single value-card item by name                         |
## | (handles ET guard, temperatureThresholdDays, and all normal cards)      |
## +-------------------------------------------------------------------------+

#def renderValueItem($x)
    #if $x == "ET"
        #if $month.ET.has_data and $month.ET.sum.raw is not None and $month.ET.sum.raw > 0.0
            $valuesCard('ET')
        #end if
    #else if $x == "temperatureThresholdDays"
        <div class="col-12 col-lg-6 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="h5-responsive $Extras.color-text">$gettext("summer_days")</h3>
                    <div class="row">
                        <div class="col-3 text-muted font-small"></div>
                        <div class="col-6"><h4 class="h2-responsive">$month.outTemp.max_ge($SummerDay).nolabel("%6d", " N/A")</h4></div>
                        <div class="col-3 text-muted font-small hi-text"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="h5-responsive $Extras.color-text">$gettext("tropical_days")</h3>
                    <div class="row">
                        <div class="col-3 text-muted font-small"></div>
                        <div class="col-6"><h4 class="h2-responsive">$month.outTemp.max_ge($TropicDay).nolabel("%6d", " N/A")</h4></div>
                        <div class="col-3 text-muted font-small hi-text"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="h5-responsive $Extras.color-text">$gettext("tropical_nights")</h3>
                    <div class="row">
                        <div class="col-3 text-muted font-small"></div>
                        <div class="col-6"><h4 class="h2-responsive">$month.outTemp.min_ge($TropicNight).nolabel("%6d", " N/A")</h4></div>
                        <div class="col-3 text-muted font-small hi-text"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="h5-responsive $Extras.color-text">$gettext("arctic_days")</h3>
                    <div class="row">
                        <div class="col-3 text-muted font-small"></div>
                        <div class="col-6"><h4 class="h2-responsive">$month.outTemp.max_le($ArcticDay).nolabel("%6d", " N/A")</h4></div>
                        <div class="col-3 text-muted font-small hi-text"></div>
                    </div>
                </div>
            </div>
        </div>
    #else
        $valuesCard($x)
    #end if
#end def

## +-------------------------------------------------------------------------+
## | Helper: render items inside a panel (or directly) for a value segment   |
## +-------------------------------------------------------------------------+

#def renderValSegment($seg, $panel_idx)
    #if $seg['type'] is None
        ## No panel – render cards directly into the surrounding row
        #for $x in $seg['items']
            $renderValueItem($x)
        #end for
    #else
        ## Expansion panel
        #set $any_has_data = False
        #for $x in $seg['items']
            #if $x == "ET"
                #if $month.ET.has_data and $month.ET.sum.raw is not None and $month.ET.sum.raw > 0.0
                    #set $any_has_data = True
                #end if
            #else if $x == "temperatureThresholdDays"
                #set $any_has_data = True
            #else
                #if $getVar('month.' + $x + '.has_data')
                    #set $any_has_data = True
                #end if
            #end if
        #end for
        #if $any_has_data
            #set $p_exp   = ($seg['type'] == 'hr')
            #set $p_exp_s = 'true' if $p_exp else 'false'
            #set $p_show  = ' show' if $p_exp else ''
            #set $p_id    = 'nwm-val-panel-' + str($panel_idx)
            <div class="col-12 mb-3">
                <div class="card nwm-expansion-panel">
                    <div class="nwm-panel-header" data-toggle="collapse"
                         data-target="#${p_id}" aria-expanded="${p_exp_s}">
                        <span class="nwm-panel-title">${seg['title']}</span>
                        <span class="mdi mdi-chevron-down nwm-panel-icon"></span>
                    </div>
                    <div id="${p_id}" class="collapse${p_show}">
                        <div class="nwm-panel-body">
                            <div class="row">
                                #for $x in $seg['items']
                                    $renderValueItem($x)
                                #end for
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        #end if
    #end if
#end def

## +-------------------------------------------------------------------------+
## | Helper: render items inside a panel (or directly) for a chart segment   |
## +-------------------------------------------------------------------------+

#def renderChartSegment($seg, $panel_idx)
    #if $seg['type'] is None
        #for $x in $seg['items']
            $chartCard($x, $x + 'chart')
        #end for
    #else
        #set $any_has_data = False
        #for $x in $seg['items']
            #if $x.startswith('customChart')
                #set $cc = $Extras.Appearance.get($x, {})
                #if $cc
                    #set $cc_values_raw = $cc.get('values', '')
                    #if isinstance($cc_values_raw, list)
                        #set $cc_vals_list = [v.strip() for v in $cc_values_raw if v.strip()]
                    #else
                        #set $cc_vals_list = [v.strip() for v in $cc_values_raw.split(',') if v.strip()]
                    #end if
                    #set $cc_any_has_data = any($getVar('month.' + v + '.has_data') for v in $cc_vals_list)
                    #if len($cc_vals_list) > 0 and $cc_any_has_data
                        #set $any_has_data = True
                    #end if
                #end if
            #else if ($getVar('month.' + $x + '.has_data') or $x == "windvec") and $x != "appTemp" and ($x != 'ET' or ($month.ET.sum.raw is not None and $month.ET.sum.raw > 0.0))
                #set $any_has_data = True
            #end if
        #end for
        #if $any_has_data
            #set $p_exp   = ($seg['type'] == 'hr')
            #set $p_exp_s = 'true' if $p_exp else 'false'
            #set $p_show  = ' show' if $p_exp else ''
            #set $p_id    = 'nwm-chart-panel-' + str($panel_idx)
            <div class="col-12 mb-3">
                <div class="card nwm-expansion-panel">
                    <div class="nwm-panel-header" data-toggle="collapse"
                         data-target="#${p_id}" aria-expanded="${p_exp_s}">
                        <span class="nwm-panel-title">${seg['title']}</span>
                        <span class="mdi mdi-chevron-down nwm-panel-icon"></span>
                    </div>
                    <div id="${p_id}" class="collapse${p_show}">
                        <div class="nwm-panel-body">
                            <div class="row">
                                #for $x in $seg['items']
                                    $chartCard($x, $x + 'chart')
                                #end for
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        #end if
    #end if
#end def

## +-------------------------------------------------------------------------+
## | Collapsible Expansion Panels – pre-processing                           |
## +-------------------------------------------------------------------------+
##
## enablePanels: read from skin.conf [[Appearance]], default true
#set $enablePanels = str($Extras.Appearance.get('enablePanels', 'true')).strip().lower() not in ['false', 'no', '0']

## isPanelMarker: returns True when item is hr / hrc / hr:Title / hrc:Title
#set $isPanelMarker = lambda x: (x.strip().lower() in ('hr', 'hrc') or x.strip().lower()[:3] in ('hr:', 'hr ') or x.strip().lower()[:4] in ('hrc:', 'hrc '))

## --- Build value-card segments from values_order ---
#if isinstance($Extras.Appearance.values_order, list)
    #set $vo_list = [x.strip() for x in $Extras.Appearance.values_order if x.strip()]
#else
    #set $vo_list = [x.strip() for x in str($Extras.Appearance.values_order).split(',') if x.strip()]
#end if

#set $val_segments = []
#set $val_cur     = {'type': None, 'title': '', 'items': []}
#set $val_seen    = set()

#for $vi in $vo_list
    #set $vi_l = $vi.strip().lower()
    #if $enablePanels and ($vi_l == 'hr' or ($vi_l[:3] in ('hr:', 'hr ') and $vi_l[:3] != 'hrc'))
        #silent $val_segments.append($val_cur)
        ## Extract title: strip the 'hr' prefix (2 chars) + separator (: or space)
        #set $p_title_v = $vi.strip()[3:].strip()
        #set $val_cur = {'type': 'hr', 'title': $p_title_v, 'items': []}
    #else if $enablePanels and ($vi_l == 'hrc' or $vi_l[:4] in ('hrc:', 'hrc '))
        #silent $val_segments.append($val_cur)
        ## Extract title: strip the 'hrc' prefix (3 chars) + separator (: or space)
        #set $p_title_v = $vi.strip()[4:].strip()
        #set $val_cur = {'type': 'hrc', 'title': $p_title_v, 'items': []}
    #else if $vi not in $val_seen
        #silent $val_seen.add($vi)
        #silent $val_cur['items'].append($vi)
    #end if
#end for
#silent $val_segments.append($val_cur)

## --- Build chart segments from charts_order ---
#if isinstance($Extras.Appearance.charts_order, list)
    #set $co_list = [x.strip() for x in $Extras.Appearance.charts_order if x.strip()]
#else
    #set $co_list = [x.strip() for x in str($Extras.Appearance.charts_order).split(',') if x.strip()]
#end if

#set $chart_segments = []
#set $chart_cur     = {'type': None, 'title': '', 'items': []}
#set $chart_seen    = set()

#for $ci in $co_list
    #set $ci_l = $ci.strip().lower()
    #if $enablePanels and ($ci_l == 'hr' or ($ci_l[:3] in ('hr:', 'hr ') and $ci_l[:3] != 'hrc'))
        #silent $chart_segments.append($chart_cur)
        #set $p_title_c = $ci.strip()[3:].strip()
        #set $chart_cur = {'type': 'hr', 'title': $p_title_c, 'items': []}
    #else if $enablePanels and ($ci_l == 'hrc' or $ci_l[:4] in ('hrc:', 'hrc '))
        #silent $chart_segments.append($chart_cur)
        #set $p_title_c = $ci.strip()[4:].strip()
        #set $chart_cur = {'type': 'hrc', 'title': $p_title_c, 'items': []}
    #else if $ci not in $chart_seen
        #silent $chart_seen.add($ci)
        #silent $chart_cur['items'].append($ci)
    #end if
#end for
#silent $chart_segments.append($chart_cur)

<!DOCTYPE html>
<html lang="$lang">
    <head>
        <title>
            $month_name $year_name | $station.location
        </title>
        #include "head.inc"
    </head>
    <body class="${Extras.Appearance.mode}-theme main-bg" ontouchstart="">

        #include "header.inc"

        #set global $card_scope = $page
        #set global $card_default = $Extras.Formatting.datetime
        #include "card_datetime.inc"
        <main>
            <div class="container-fluid d-flex-xxl">

                <div class="row mt-3 temprow align-content-start">

                    <div class="col-12 mb-4 text-center">
                        <h2 class="h2-responsive text-dark">$month_name $year_name</h2>
                    </div>
                    #set $val_panel_idx = 0
                    #for $seg in $val_segments
                        #if $seg['type'] is not None
                            #set $val_panel_idx = $val_panel_idx + 1
                        #end if
                        $renderValSegment($seg, $val_panel_idx)
                    #end for

                </div>

                <hr class="m-0 mb-4 rowdivider">

                <div class="row mt-3 graphrow align-content-start">
                    #set $chart_panel_idx = 0
                    #for $seg in $chart_segments
                        #if $seg['type'] is not None
                            #set $chart_panel_idx = $chart_panel_idx + 1
                        #end if
                        $renderChartSegment($seg, $chart_panel_idx)
                    #end for
                </div>

            </div>
        </main>

        #include "footer.inc"
        #include "js.inc"

        #def getChartData($name, $column)
            #set $days = list($month.days)
            #for idx, record in enumerate($days)
                #try
                    #set val = $getattr($record, $name)
                    #set data = $getattr($val, $column).format(add_label=False, localize=False, None_string="null")
                    #if $data != "null" or $idx == 0 or $idx == len($days) - 1
                        [$record.start.raw * 1000, $data],
                    #end if
                #except

                #end try
            #end for
        #end def

        #def getChartJsCode($name, $id, $type, $series1, $series2 = "", $column = "avg", $series3 = "", $series4 = "", $series5 = "", $series6 = "", $series7 = "", $series8 = "")

            #if $name in $Extras.Appearance.charts_order

                #if $name == "outTemp"

                    var chartElement = document.querySelector('#$id');
                    if (chartElement) {
                        new ApexCharts(chartElement, {
                            ...graph_${type}_config,
                            #if $pg_align_mid and $type != 'radar'
                                xaxis: {
                                    ...graph_${type}_config.xaxis,
                                    #include "graph_align_axis.inc"
                                },
                            #end if
                            yaxis: {
                                labels: {
                                    formatter: function (val) {
                                        return formatNumber(val, "$getVar('unit.format.' + name)") + "$getVar('unit.label.' + name)";
                                    }
                                },
                            },
                            series: [
                                {
                                    name: "$getVar('obs.label.' + series1) $gettext("min")",
                                    data: [ $getChartData(series1, 'min') ]
                                },
                                {
                                    name: "$getVar('obs.label.' + series1) $gettext("max")",
                                    data: [ $getChartData(series1, 'max') ]
                                }
                                #if $series2 != "" and $getVar('month.' + series2 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series2)", data: [ $getChartData(series2, column) ] }
                                #end if
                                #if $series3 != "" and $getVar('month.' + series3 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series3)", data: [ $getChartData(series3, column) ] }
                                #end if
                                #if $series4 != "" and $getVar('month.' + series4 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series4)", data: [ $getChartData(series4, column) ] }
                                #end if
                                #if $series5 != "" and $getVar('month.' + series5 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series5)", data: [ $getChartData(series5, column) ] }
                                #end if
                                #if $series6 != "" and $getVar('month.' + series6 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series6)", data: [ $getChartData(series6, column) ] }
                                #end if
                                #if $series7 != "" and $getVar('month.' + series7 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series7)", data: [ $getChartData(series7, column) ] }
                                #end if
                                #if $series8 != "" and $getVar('month.' + series8 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series8)", data: [ $getChartData(series8, column) ] }
                                #end if
                            ]
                        }).render()
                    }

                #else

                    var chartElement = document.querySelector('#$id');
                    if (chartElement) {
                        new ApexCharts(chartElement, {
                            ...graph_${type}_config,
                            #if $pg_align_mid and $type != 'radar'
                                xaxis: {
                                    ...graph_${type}_config.xaxis,
                                    #include "graph_align_axis.inc"
                                },
                            #end if
                            #if $name == "windDir"
                                yaxis: {
                                    max: 360, min: 0, type: 'datetime', tickAmount: 8, trim: false,
                                    labels: {
                                        tickAmount: 8, rotateAlways: false, hideOverlappingLabels: true,
                                        showDuplicates: false, trim: false,
                                        formatter: function(val, timestamp) {
                                            var degrees = Number(val);
                                            return getOrdinalDirection(degrees);
                                        }
                                    },
                                },
                                tooltip: {
                                    enabled: true,
                                    y: { formatter: function (val) {
                                        var degrees = Number(val);
                                        return getOrdinalDirection(degrees) + ' (' + degrees.toFixed(0) + '°)';
                                    }},
                                },
                            #else
                                yaxis: {
                                    labels: {
                                        formatter: function (val) {
                                            return formatNumber(val, "$getVar('unit.format.' + series1)") + "$getVar('unit.label.' + series1)";
                                        }
                                    },
                                },
                            #end if
                            series: [
                                { name: "$getVar('obs.label.' + series1)", data: [ $getChartData(series1, column) ] }
                                #if $series2 != "" and $getVar('month.' + series2 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series2)", data: [ $getChartData(series2, column) ] }
                                #end if
                                #if $series3 != "" and $getVar('month.' + series3 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series3)", data: [ $getChartData(series3, column) ] }
                                #end if
                                #if $series4 != "" and $getVar('month.' + series4 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series4)", data: [ $getChartData(series4, column) ] }
                                #end if
                                #if $series5 != "" and $getVar('month.' + series5 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series5)", data: [ $getChartData(series5, column) ] }
                                #end if
                                #if $series6 != "" and $getVar('month.' + series6 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series6)", data: [ $getChartData(series6, column) ] }
                                #end if
                                #if $series7 != "" and $getVar('month.' + series7 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series7)", data: [ $getChartData(series7, column) ] }
                                #end if
                                #if $series8 != "" and $getVar('month.' + series8 + '.has_data')
                                    ,{ name: "$getVar('obs.label.' + series8)", data: [ $getChartData(series8, column) ] }
                                #end if
                            ]
                        }).render()
                    }

                #end if

            #end if

        #end def

        <script type="text/javascript">
            ## ---- align setup (once per page): shared by standard AND custom charts ----
            #set $_mdays = list($month.days)
            #if len($_mdays) > 0
                #set global $align_start = int($_mdays[0].start.raw)
                #set global $align_stop  = int($_mdays[-1].start.raw) + 86400
            #else
                ## empty archive month (sparse data): nominal 1-day span so nothing
                ## indexes an empty list or divides by zero downstream
                #set global $align_start = int($current.dateTime.raw) - 86400
                #set global $align_stop  = int($current.dateTime.raw)
            #end if
            #include "graph_align_setup.inc"

            var graph_area_config = {
                #include "graph_area_config.inc"
            }
            var graph_bar_config = {
                #include "graph_bar_config.inc"
            }
            var graph_radar_config = {
                #include "graph_radar_config.inc"
            }
            var graph_line_config = {
                #include "graph_line_config.inc"
            }

            // --- Special charts: multi-series or non-default columns ---
            #set $processed_charts = set()

            #if $month.windSpeed.has_data
                $getChartJsCode("windSpeed", "windSpeedchart", "area", "windSpeed", "windGust", "max")
            #end if
            #silent $processed_charts.add("windSpeed")

            // Build wind vector chart
            var vector_data = {
                'N': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'NE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'E': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'SE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'S': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'SW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'W': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'NW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
            };
            var raw_data = [
                #for $record in $month.days
                    { 'dir': "$record.wind.vecdir.raw", 'speed': "$record.windSpeed.avg.raw", 'max': "$record.windGust.max.raw" },
                #end for
            ];
            raw_data.forEach(function(item) {
                var vec_dir = parseInt(item.dir);
                var vec_speed = parseFloat(item.speed);
                var max_speed = parseFloat(item.max);
                if(typeof vec_dir === 'number') {
                    var vec_key = false;
                    if(vec_dir > 337.5 || vec_dir <= 22.5) { vec_key = 'N'; }
                    if(vec_dir > 22.5 && vec_dir <= 67.5) { vec_key = 'NE'; }
                    if(vec_dir > 67.5 && vec_dir <= 112.5) { vec_key = 'E'; }
                    if(vec_dir > 112.5 && vec_dir <= 157.5) { vec_key = 'SE'; }
                    if(vec_dir > 157.5 && vec_dir <= 202.5) { vec_key = 'S'; }
                    if(vec_dir > 202.5 && vec_dir <= 247.5) { vec_key = 'SW'; }
                    if(vec_dir > 247.5 && vec_dir <= 292.5) { vec_key = 'W'; }
                    if(vec_dir > 292.5 && vec_dir <= 337.5) { vec_key = 'NW'; }
                    if(vec_key !== false) {
                        vector_data[vec_key]['sum'] += vec_speed;
                        vector_data[vec_key]['amt']++;
                        if(max_speed > vector_data[vec_key]['max']) { vector_data[vec_key]['max'] = max_speed; }
                    }
                }
            });
            var avg_values = [];
            var max_values = [];
            Object.keys(vector_data).forEach(function (item) {
                avg_values.push(vector_data[item]['amt'] > 0 ? vector_data[item]['sum'] / vector_data[item]['amt'] : 0);
                max_values.push(vector_data[item]['max']);
            });
            var windvecchart = document.querySelector('#windvecchart');
            if (windvecchart) {
                new ApexCharts(windvecchart, {
                    ...graph_radar_config,
                    yaxis: { labels: { formatter: function (val) { return formatNumber(val, "$unit.format.windSpeed") + "$unit.label.windSpeed"; } } },
                    series: [
                        { name: "$obs.label.windSpeed", data: avg_values },
                        { name: "$obs.label.windGust",  data: max_values },
                    ]
                }).render()
            }
            #silent $processed_charts.add("windvec")

            // --- Default single-series charts: loop over charts_order ---
            #set $default_chart_types = {'windDir': 'line', 'rain': 'bar', 'ET': 'bar', 'windrun': 'bar', 'snowDepth': 'bar', 'lightning_strike_count': 'bar', 'lightning_noise_count': 'bar', 'lightning_disturber_count': 'bar', 'lightning_distance': 'bar'}
            #set $default_chart_columns = {'windDir': 'vecdir', 'ET': 'sum', 'rain': 'sum', 'windrun': 'sum', 'UV': 'max', 'radiation': 'max', 'luminosity': 'max', 'snowDepth': 'sum', 'lightning_strike_count': 'sum'}
            #set $default_chart_series = {'windDir': 'wind'}

            #for $x in $Extras.Appearance.charts_order
                #set $x_nm = $x.strip().lower()
                #if not $x.startswith('customChart') and $x not in $processed_charts and not ($x_nm in ('hr', 'hrc') or $x_nm[:3] in ('hr:', 'hr ') or $x_nm[:4] in ('hrc:', 'hrc '))
                    #silent $processed_charts.add($x)
                    #if $getVar('month.' + $x + '.has_data')
                        #set $c_type = $default_chart_types.get($x, 'area')
                        #set $c_col = $default_chart_columns.get($x, 'avg')
                        #set $c_series = $default_chart_series.get($x, $x)
                        #set $c_id = $x + 'chart'
                        $getChartJsCode($x, $c_id, $c_type, $c_series, "", $c_col)
                    #end if
                #end if
            #end for

            // Custom charts (dynamically generated from skin.conf [[Appearance]] [[[customChart*]]] sections)
            #set $seen_custom_charts = set()
            #for $x in $Extras.Appearance.charts_order
                #if $x.startswith('customChart') and $x not in $seen_custom_charts
                    #silent $seen_custom_charts.add($x)
                    #set $cc = $Extras.Appearance.get($x, {})
                    #if $cc
                        #set $cc_type = $cc.get('charttype', 'area')
                        ## Page-specific override subsection (key = "month" for this page).
                        #set $cc_page = $cc.get('month', {})
                        ## Resolve column list: page → top-level → 'avg'
                        #set $cc_column_raw = $cc_page.get('column', $cc.get('column', 'avg'))
                        #set $cc_cols = ['avg']
                        #if isinstance($cc_column_raw, list)
                            #set $cc_cols = [c.strip() for c in $cc_column_raw if c.strip()]
                        #else
                            #set $cc_cols = [c.strip() for c in str($cc_column_raw).split(',') if c.strip()]
                        #end if
                        #if len($cc_cols) == 0
                            #set $cc_cols = ['avg']
                        #end if
                        ## Resolve values list: page → top-level
                        #set $cc_values_raw = $cc_page.get('values', $cc.get('values', ''))
                        #if isinstance($cc_values_raw, list)
                            #set $cc_vals = [v.strip() for v in $cc_values_raw if v.strip()]
                        #else
                            #set $cc_vals = [v.strip() for v in str($cc_values_raw).split(',') if v.strip()]
                        #end if
                        ## Build cc_series_pairs from field-name keys or values+column fallback
                        ## Build cc_field_map without a generator (avoids Python 3 / Cheetah scope issue)
                        #set $cc_field_map = {}
                        #for $fk, $fv in $cc_page.items()
                            #if $fk not in ('column', 'values', 'title', 'charttype', 'yaxis', 'yaxis_config', 'datetime_label_format', 'datetime_tooltip_format') and isinstance($fv, (str, list))
                                #silent $cc_field_map[$fk] = $fv
                            #end if
                        #end for
                        #if len($cc_field_map) > 0
                            #set $cc_series_pairs = []
                            #for $field_k, $col_v in $cc_field_map.items()
                                #if isinstance($col_v, list)
                                    #set $cols_k = [c.strip() for c in $col_v if c.strip()]
                                #else
                                    #set $cols_k = [c.strip() for c in $col_v.split(',') if c.strip()]
                                #end if
                                #if $cols_k
                                    #silent $cc_series_pairs.append(($field_k, $cols_k))
                                #end if
                            #end for
                        #else
                            ## Use #for loop instead of list comprehension to avoid Cheetah/Python 3
                            ## scope issue where $cc_cols cannot be resolved inside a comprehension.
                            #set $cc_series_pairs = []
                            #for $v in $cc_vals
                                #silent $cc_series_pairs.append(($v, $cc_cols))
                            #end for
                        #end if

                        ## +-------------------------------------------------------------+
                        ## | Multi-Axis Configuration Parser                             |
                        ## +-------------------------------------------------------------+
                        ## Parse yaxis configuration for multi-axis support
                        #set $yaxis_config = $cc_page.get('yaxis_config', $cc.get('yaxis_config', {}))
                        #set $axis_map = {}  ## Maps series_name -> axis_id (y1, y2, etc)
                        #set $axes_used = set()  ## Track which axes are actually used

                        ## Check for yaxis subsection that maps fields to axes
                        #set $yaxis_section = $cc_page.get('yaxis', $cc.get('yaxis', {}))
                        #if isinstance($yaxis_section, dict)
                            #for $yaxis_item in $yaxis_section.items()
                                #set $field_k = $yaxis_item[0]
                                #set $axis_id = $yaxis_item[1]
                                #set $axis_id_clean = str($axis_id).strip()
                                #silent $axis_map[$field_k] = $axis_id_clean
                                #silent $axes_used.add($axis_id_clean)
                            #end for
                        #end if

                        ## Default: all series on y1 if no assignments
                        #if len($axis_map) == 0
                            #for $field_k, $cols_k in $cc_series_pairs
                                #silent $axis_map[$field_k] = 'y1'
                                #silent $axes_used.add('y1')
                            #end for
                        #else
                            ## Ensure any unmapped fields get y1
                            #for $field_k, $cols_k in $cc_series_pairs
                                #if $field_k not in $axis_map
                                    #silent $axis_map[$field_k] = 'y1'
                                    #silent $axes_used.add('y1')
                                #end if
                            #end for
                        #end if

                        ## Build sorted list of axes (y1, y2, y3, ...)
                        #set $axes_list = sorted(list($axes_used))

                        ## Resolve per-chart date-format overrides (shared logic)
                        #set global $cc_name  = $x
                        #set global $cc_scope = 'month'
                        #include "chart_date_format.inc"
                        #include "chart_tick_setup.inc"

                        ## Render chart JS
                        #if len($cc_series_pairs) > 0 and $x in $Extras.Appearance.charts_order
                            #set $cc_id = $x + "chart"
                            #try
                                #set $_ = $axes_list
                            #except
                                #set $axes_list = ['y1']
                            #end try
                            var chartElement = document.querySelector('#$cc_id');
                            if (chartElement) {
                                new ApexCharts(chartElement, {
                                    ...graph_${cc_type}_config,
                                    #if $cc_label_fmt or $pg_align_mid or $cc_tick_set
                                    xaxis: {
                                        ...graph_${cc_type}_config.xaxis,
                                        #include "chart_tick_axis.inc"
                                        #if $cc_label_fmt
                                        labels: { ...graph_${cc_type}_config.xaxis.labels, formatter: neowxDateFormatter("$cc_label_fmt") }
                                        #end if
                                    },
                                    #end if
                                    #if $cc_tooltip_fmt
                                    tooltip: {
                                        ...graph_${cc_type}_config.tooltip,
                                        x: { ...graph_${cc_type}_config.tooltip.x, formatter: neowxDateFormatter("$cc_tooltip_fmt") }
                                    },
                                    #end if
                                    #if len($axes_list) <= 1
                                        ## Single axis (backward compatible)
                                        yaxis: {
                                            labels: {
                                                formatter: function (val) {
                                                    return formatNumber(val, "$getVar('unit.format.' + cc_series_pairs[0][0])") + "$getVar('unit.label.' + cc_series_pairs[0][0])";
                                                }
                                            },
                                        },
                                    #else
                                        ## Multiple axes configuration
                                        yaxis: [
                                            #for $axis_entry in enumerate($axes_list)
                                                #set $idx = $axis_entry[0]
                                                #set $axis_id = $axis_entry[1]
                                                ## Find fields assigned to this axis
                                                #set $fields_on_axis = []
                                                #for $f, $a in $axis_map.items()
                                                    #if $a == $axis_id
                                                        #silent $fields_on_axis.append($f)
                                                    #end if
                                                #end for
                                                #set $first_field = $fields_on_axis[0] if len($fields_on_axis) > 0 else $cc_series_pairs[0][0]
                                                ## Get axis-specific configuration
                                                #set $axis_cfg = $yaxis_config.get($axis_id, {})
                                                #set $axis_title = $axis_cfg.get('title', '')
                                                #set $axis_opposite_raw = $axis_cfg.get('opposite', None)
                                                ## Default: first axis on left (false), others on right (true)
                                                #if $axis_opposite_raw is None
                                                    #set $axis_opposite = 'true' if $idx > 0 else 'false'
                                                #else
                                                    #set $axis_opposite = 'true' if str($axis_opposite_raw).lower() in ['true', 'yes', '1'] else 'false'
                                                #end if
                                                #set $axis_decimals = $axis_cfg.get('decimals', None)
                                                #set $axis_min = $axis_cfg.get('min', None)
                                                #set $axis_max = $axis_cfg.get('max', None)
                                            {
                                                seriesName: "$getVar('obs.label.' + $first_field)",
                                                #if $axis_title
                                                title: {
                                                    text: "$axis_title",
                                                    style: {
                                                        fontSize: '12px',
                                                    }
                                                },
                                                #end if
                                                opposite: $axis_opposite,
                                                #if $axis_min is not None
                                                min: $axis_min,
                                                #end if
                                                #if $axis_max is not None
                                                max: $axis_max,
                                                #end if
                                                labels: {
                                                    formatter: function (val) {
                                                        #if $axis_decimals is not None
                                                        return formatNumber(val, "%.$axis_decimals\f") + "$getVar('unit.label.' + $first_field)";
                                                        #else
                                                        return formatNumber(val, "$getVar('unit.format.' + $first_field)") + "$getVar('unit.label.' + $first_field)";
                                                        #end if
                                                    }
                                                },
                                            },
                                            #end for
                                        ],
                                    #end if
                                    series: [
                                        #for $val, $cols in $cc_series_pairs
                                            #if $getVar('month.' + val + '.has_data')
                                                #if len($cols) == 1
                                                    {
                                                        name: "$getVar('obs.label.' + val)",
                                                        data: [ $getChartData(val, cols[0]) ]
                                                    },
                                                #else
                                                    #for $col in $cols
                                                        {
                                                            name: "$getVar('obs.label.' + val) $gettext($col)",
                                                            data: [ $getChartData(val, col) ]
                                                        },
                                                    #end for
                                                #end if
                                            #end if
                                        #end for
                                    ]
                                }).render()
                            }
                        #end if
                    #end if
                #end if
            #end for

        </script>

        <script src="$Extras.MQTT.paho_mqtt_url" type="text/javascript"></script>
        <script type="text/javascript" src="js/weewx-mqtt.js"></script>

    </body>
</html>