#######################################################################
# copy and rename this file to skin_conf_patches.txt
# and edit the settings below
#######################################################################
# Patch file for neowx-material skin
# Add key/value pairs to the skin configuration file (skin.conf)
# to be patched with your custom settings. This helps you to
# avoid merge conflicts when updating the skin.
# Just add the settings you want to change from the default
# skin.conf file. See the default skin.conf file for all
# available settings and their default values.
#######################################################################
# Format: Section.Subsection.key = value
# Example: Extras.Header.custom1_label = My Label
#######################################################################
Extras.Header.custom1_label =
Extras.Header.custom1_url =
Extras.Header.custom2_label =
Extras.Footer.about =
CopyGenerator.copy_once =
