#encoding UTF-8
## +-------------------------------------------------------------------------+
## |    week.html.tmpl                      Template file for "week" page    |
## +-------------------------------------------------------------------------+

#attr $active_nav = 'week'

## +-------------------------------------------------------------------------+
## | Template for display card of values (left column)                       |
## +-------------------------------------------------------------------------+

#def valuesCard($name)
    ## ET requires a valid positive sum to be shown
    #if $getVar('week.' + name + '.has_data') and ($name != 'ET' or ($week.ET.sum.raw is not None and $week.ET.sum.raw > 0.0))
        <div class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card card-value" id="${name}-value" data-name="$name">
                <div class="card-body text-center">
                    <h3 class="h5-responsive $Extras.color-text">
                        $getVar('obs.label.' + name)
                        #if $name == 'windSpeed'
                            <i class="wi wi-wind from-$week.wind.vecdir.formatted-deg"
                            title="$week.wind.vecdir.formatted°" data-toggle="tooltip" data-html="true"></i>
                        #end if
                    </h3>
                    #if $name == 'windSpeed'
                        <div class="row">
                            <div class="col-3 text-muted font-small lo-text">
                                $week.wind.avg <br>
                                $gettext("avg")
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">
                                    $week.windSpeed.max $week.wind.vecdir.ordinal_compass
                                </h4>
                            </div>
                            <div class="col-3 text-muted font-small hi-text">
                                $week.wind.max $week.wind.gustdir.ordinal_compass <br>
                                <i class="wi wi-wind from-$week.wind.gustdir.formatted-deg mr-2"
                                title="$week.wind.gustdir.formatted°" data-toggle="tooltip" data-html="true"></i>
                                ($week.wind.maxtime.format($Extras.Formatting.datetime))
                            </div>
                        </div>
                    #else if $name == 'rain'
                        <div class="row">
                            <div class="col-3 text-muted font-small"></div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$week.rain.sum</h4>
                            </div>
                            <div class="col-3 text-muted font-small hi-text">
                                $week.rainRate.max <br>
                                ($week.rainRate.maxtime.format($Extras.Formatting.datetime))
                            </div>
                        </div>
                    #else if $name in set(['lightning_strike_count', 'windrun', 'ET'])
                        <div class="row">
                            <div class="col-3 text-muted font-small lo-text"></div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$getVar('week.' + name + '.sum')</h4>
                            </div>
                            <div class="col-3 text-muted font-small hi-text"></div>
                        </div>
                    #else
                        <div class="row">
                            <div class="col-3 text-muted font-small lo-text">
                                $getVar('week.' + name + '.min') <br>
                                ($getVar('week.' + name + '.mintime').format($Extras.Formatting.datetime))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$getVar('week.' + name + '.avg')</h4>
                            </div>
                            <div class="col-3 text-muted font-small hi-text">
                                $getVar('week.' + name + '.max') <br>
                                ($getVar('week.' + name + '.maxtime').format($Extras.Formatting.datetime))
                            </div>
                        </div>
                    #end if
                </div>
            </div>
        </div>
    #end if
#end def

## +-------------------------------------------------------------------------+
## | Template for display card of a single chart (right column)              |
## +-------------------------------------------------------------------------+

#def chartCard($name, $id, $name2="XX")
    #if $name.startswith('customChart')
        #set $cc = $Extras.Appearance.get($name, {})
        #if $cc
            #set $cc_title = $cc.get('title', $name)
            #set $cc_values_raw = $cc.get('values', '')
            #if isinstance($cc_values_raw, list)
                #set $cc_vals_list = [v.strip() for v in $cc_values_raw if v.strip()]
            #else
                #set $cc_vals_list = [v.strip() for v in $cc_values_raw.split(',') if v.strip()]
            #end if
            #set $cc_any_has_data = any($getVar('week.' + v + '.has_data') for v in $cc_vals_list)
            #set $cc_sensors_str = chr(44).join($cc_vals_list)
            #if len($cc_vals_list) > 0 and $cc_any_has_data
                <div class="col-12 col-xl-6 mb-4">
                    <div class="card card-chart" id="${name}-chart" data-name="$name" data-sensors="$cc_sensors_str">
                        <div class="card-body text-center">
                            <h5 class="h5-responsive $Extras.color-text">$cc_title</h5>
                            <div id="$id"></div>
                        </div>
                    </div>
                </div>
            #end if
        #end if
    #else if ($getVar('week.' + name + '.has_data') or $name == "windvec") and $name != "appTemp" and ($name != 'ET' or ($week.ET.sum.raw is not None and $week.ET.sum.raw > 0.0))
        <div class="col-12 col-xl-6 mb-4">
            <div class="card card-chart" id="${name}-chart" data-name="$name">
                <div class="card-body text-center">
                    <h5 class="h5-responsive $Extras.color-text">
                        #if $name2 != "XX"
                            $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name)) &
                            $getVar('Extras.Charts.Titles.' + name2, $getVar('obs.label.' + name2))
                        #else
                            $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name))
                        #end if
                    </h5>
                    <div id="$id"></div>
                </div>
            </div>
        </div>
    #end if
#end def

## Access HistoryReport section from skin.conf
#set $table_dict = $generator.skin_dict['HistoryReport']
#set $threshold_unit = $table_dict.get('threshold_unit', 'degree_C')
#set $SummerDay = ($table_dict.get('summer_days_threshold', 25.0),  $threshold_unit)
#set $TropicDay = ($table_dict.get('tropical_days_threshold', 30.0),  $threshold_unit)
#set $TropicNight = ($table_dict.get('tropical_nights_threshold', 20.0),  $threshold_unit)
#set $ArcticDay = ($table_dict.get('arctic_days_threshold', 0.0),  $threshold_unit)

## +-------------------------------------------------------------------------+
## | The main page layout                                                    |
## +-------------------------------------------------------------------------+

<!DOCTYPE html>
<html lang="$lang">
    <head>
        <title>
            $gettext($active_nav) | $station.location
        </title>
        #include "head.inc"
    </head>
    <body class="${Extras.Appearance.mode}-theme main-bg" ontouchstart="">

        #include "header.inc"

        <main>
            <div class="container-fluid d-flex-xxl">

                <div class="row mt-3 temprow align-content-start">
                    #set seen_cards = set()
                    #for $x in $Extras.Appearance.values_order
                        #if $x not in $seen_cards
                            #silent $seen_cards.add($x)
                            #if $x == "ET"
                                #if $week.ET.has_data and $week.ET.sum.raw is not None and $week.ET.sum.raw > 0.0
                                    $valuesCard('ET')
                                #end if
                            #else if $x == "temperatureThresholdDays"
                                <div class="col-12 col-md-6 col-xl-4 mb-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h3 class="h5-responsive $Extras.color-text">$gettext("summer_days")</h3>
                                            <div class="row">
                                                <div class="col-3 text-muted font-small"></div>
                                                <div class="col-6"><h4 class="h2-responsive">$week.outTemp.max_ge($SummerDay).nolabel("%6d", " N/A")</h4></div>
                                                <div class="col-3 text-muted font-small hi-text"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4 mb-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h3 class="h5-responsive $Extras.color-text">$gettext("tropical_days")</h3>
                                            <div class="row">
                                                <div class="col-3 text-muted font-small"></div>
                                                <div class="col-6"><h4 class="h2-responsive">$week.outTemp.max_ge($TropicDay).nolabel("%6d", " N/A")</h4></div>
                                                <div class="col-3 text-muted font-small hi-text"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4 mb-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h3 class="h5-responsive $Extras.color-text">$gettext("tropical_nights")</h3>
                                            <div class="row">
                                                <div class="col-3 text-muted font-small"></div>
                                                <div class="col-6"><h4 class="h2-responsive">$week.outTemp.min_ge($TropicNight).nolabel("%6d", " N/A")</h4></div>
                                                <div class="col-3 text-muted font-small hi-text"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4 mb-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h3 class="h5-responsive $Extras.color-text">$gettext("arctic_days")</h3>
                                            <div class="row">
                                                <div class="col-3 text-muted font-small"></div>
                                                <div class="col-6"><h4 class="h2-responsive">$week.outTemp.max_le($ArcticDay).nolabel("%6d", " N/A")</h4></div>
                                                <div class="col-3 text-muted font-small hi-text"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            #else
                                $valuesCard($x)
                            #end if
                        #end if
                    #end for
                </div>

                <hr class="m-0 mb-4 rowdivider">

                <div class="row mt-3 graphrow align-content-start">
                    #set seen_charts = set()
                    #for $x in $Extras.Appearance.charts_order
                        #if $x not in $seen_charts
                            #silent $seen_charts.add($x)
                            $chartCard($x, $x + 'chart')
                        #end if
                    #end for
                </div>

            </div>
        </main>

        #include "footer.inc"
        #include "js.inc"

        ## +-------------------------------------------------------------------------+
        ## | Chart generation methods (get data for charts + their JS code)          |
        ## +-------------------------------------------------------------------------+

        ## +-------------------------------------------------------------------------+
        ## | Get data array for a chart                                              |
        ## |                                                                         |
        ## | string  $name    the name of the database field  (e.g. outTemp)         |
        ## | string  $column  the column of the display value (e.g. min, max, avg)   |
        ## +-------------------------------------------------------------------------+

        #def getChartData($name, $column)
            #set current_interval = int($Extras.Charts.week_timespan)
            #if $name == "rain"
                #set current_interval = int($Extras.Charts.week_rain_timespan)
            #end if
            #if $name == "ET"
                #set current_interval = int($Extras.Charts.week_ET_timespan)
            #end if
            #if $name == "windrun"
                #set current_interval = int($Extras.Charts.week_windrun_timespan)
            #end if

            #set $records = list($span($week_delta=1,$boundary='midnight').spans(interval=current_interval))
            #for idx, record in enumerate($records)
                #try
                    #set val = $getattr($record, $name)
                    #set data = $getattr($val, $column).format(add_label=False, localize=False, None_string="null")
                    #if $data != "null" or $idx == 0 or $idx == len($records) - 1
                        [$record.start.raw, $data],
                    #end if
                #except

                #end try
            #end for
        #end def

        ## +-------------------------------------------------------------------------+
        ## | Get JavaScript code for a chart                                         |
        ## |                                                                         |
        ## | string  $name     the name of the database field   (e.g. outTemp)       |
        ## | string  $id       the ID of the chart target       (without hash)       |
        ## | string  $type     type of chart                    (area, bar, radar)   |
        ## | string  $series1  field name for (1st) series      (e.g. outTemp)       |
        ## | string  $series2  opt. field name for 2nd series   (e.g. outTemp or "") |
        ## | string  $column   the column of the display value  (e.g. min, max, avg) |
        ## | string  $series3  opt. field name for 3rd series   (e.g. outTemp or "") |
        ## | string  $series4  opt. field name for 4th series   (e.g. outTemp or "") |
        ## | string  $series5  opt. field name for 5th series   (e.g. outTemp or "") |
        ## | string  $series6  opt. field name for 6th series   (e.g. outTemp or "") |
        ## | string  $series7  opt. field name for 7th series   (e.g. outTemp or "") |
        ## | string  $series8  opt. field name for 8th series   (e.g. outTemp or "") |
        ## +-------------------------------------------------------------------------+

        #def getChartJsCode($name, $id, $type, $series1, $series2 = "", $column = "avg", $series3 = "", $series4 = "", $series5 = "", $series6 = "", $series7 = "", $series8 = "")

            ## Only add JS chart code if in array
            #if $name in $Extras.Appearance.charts_order

                var chartElement = document.querySelector('#$id');
                if (chartElement) {
                    new ApexCharts(chartElement, {
                        ...graph_${type}_config,
                        #if $name == "windDir"
                            yaxis: {
                                max: 360,
                                min: 0,
                                type: 'datetime',
                                tickAmount: 8,
                                trim: false,
                                labels: {
                                    tickAmount: 8,
                                    rotateAlways: false,
                                    hideOverlappingLabels: true,
                                    showDuplicates: false,
                                    trim: false,
                                    formatter: function(val, timestamp) {
                                        var degrees = Number(val);
                                        var direction = getOrdinalDirection(degrees);
                                        return direction;
                                    }
                                },
                            },
                            tooltip: {
                                enabled: true,
                                y: {
                                    formatter: function (val) {
                                        var degrees = Number(val);
                                        var direction = getOrdinalDirection(degrees);
                                        return direction + ' (' + degrees.toFixed(0) + '°)';
                                    }
                                },
                            },
                        #else
                            yaxis: {
                                labels: {
                                    formatter: function (val) {
                                        return formatNumber(val, "$getVar('unit.format.' + series1)") + "$getVar('unit.label.' + series1)";
                                    }
                                },
                            },
                        #end if
                        series: [
                            {
                                name: "$getVar('obs.label.' + series1)",
                                data: [ $getChartData(series1, column) ]
                            }
                            #if $series2 != "" and $getVar('week.' + series2 + '.has_data')
                                ,{
                                    name: "$getVar('obs.label.' + series2)",
                                    data: [ $getChartData(series2, column) ]
                                }
                            #end if
                            #if $series3 != "" and $getVar('week.' + series3 + '.has_data')
                                ,{
                                    name: "$getVar('obs.label.' + series3)",
                                    data: [ $getChartData(series3, column) ]
                                }
                            #end if
                            #if $series4 != "" and $getVar('week.' + series4 + '.has_data')
                                ,{
                                    name: "$getVar('obs.label.' + series4)",
                                    data: [ $getChartData(series4, column) ]
                                }
                            #end if
                            #if $series5 != "" and $getVar('week.' + series5 + '.has_data')
                                ,{
                                    name: "$getVar('obs.label.' + series5)",
                                    data: [ $getChartData(series5, column) ]
                                }
                            #end if
                            #if $series6 != "" and $getVar('week.' + series6 + '.has_data')
                                ,{
                                    name: "$getVar('obs.label.' + series6)",
                                    data: [ $getChartData(series6, column) ]
                                }
                            #end if
                            #if $series7 != "" and $getVar('week.' + series7 + '.has_data')
                                ,{
                                    name: "$getVar('obs.label.' + series7)",
                                    data: [ $getChartData(series7, column) ]
                                }
                            #end if
                            #if $series8 != "" and $getVar('week.' + series8 + '.has_data')
                                ,{
                                    name: "$getVar('obs.label.' + series8)",
                                    data: [ $getChartData(series8, column) ]
                                }
                            #end if
                        ]
                    }).render()
                }

            #end if

        #end def

        ## +-------------------------------------------------------------------------+
        ## | Chart definitions                                                       |
        ## +-------------------------------------------------------------------------+

        <script type="text/javascript">
            // Config templates

            var graph_area_config = {
                #include "graph_area_config.inc"
            }
            var graph_bar_config = {
                #include "graph_bar_config.inc"
            }
            var graph_radar_config = {
                #include "graph_radar_config.inc"
            }
            var graph_line_config = {
                #include "graph_line_config.inc"
            }

            // --- Special charts: multi-series or non-default columns ---
            #set $processed_charts = set()

            // Wind (windSpeed + windGust, max column)
            #if $week.windSpeed.has_data
                $getChartJsCode("windSpeed", "windSpeedchart", "area", "windSpeed", "windGust", "max")
            #end if
            #silent $processed_charts.add("windSpeed")

            // Build wind vector chart
            var vector_data = {
                'N': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'NE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'E': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'SE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'S': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'SW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'W': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
                'NW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
            };

            var raw_data = [
                #for $record in $span($week_delta=1,$boundary='midnight').spans(interval=int($Extras.Charts.week_timespan))
                    {
                        'dir': "$record.wind.vecdir.raw",
                        'speed': "$record.windSpeed.avg.raw",
                        'max': "$record.windGust.max.raw"
                    },
                #end for
            ];

            raw_data.forEach(function(item) {
                var vec_dir = parseInt(item.dir);
                var vec_speed = parseFloat(item.speed);
                var max_speed = parseFloat(item.max);

                if(typeof vec_dir === 'number') {
                    var vec_key = false;

                    // Detect key based on vec direction (0-360). 45° steps, using the middle +- 45/2=22.5
                    if(vec_dir > 337.5 || vec_dir <= 22.5) {
                        vec_key = 'N';
                    }
                    if(vec_dir > 22.5 && vec_dir <= 67.5) {
                        vec_key = 'NE';
                    }
                    if(vec_dir > 67.5 && vec_dir <= 112.5) {
                        vec_key = 'E';
                    }
                    if(vec_dir > 112.5 && vec_dir <= 157.5) {
                        vec_key = 'SE';
                    }
                    if(vec_dir > 157.5 && vec_dir <= 202.5) {
                        vec_key = 'S';
                    }
                    if(vec_dir > 202.5 && vec_dir <= 247.5) {
                        vec_key = 'SW';
                    }
                    if(vec_dir > 247.5 && vec_dir <= 292.5) {
                        vec_key = 'W';
                    }
                    if(vec_dir > 292.5 && vec_dir <= 337.5) {
                        vec_key = 'NW';
                    }

                    if(vec_key !== false) {
                        vector_data[vec_key]['sum'] += vec_speed;
                        vector_data[vec_key]['amt']++;

                        if(max_speed > vector_data[vec_key]['max']) {
                            vector_data[vec_key]['max'] = max_speed;
                        }
                    }

                }
            });

            // Finally build arrays for chart
            var avg_values = [];
            var max_values = [];
            Object.keys(vector_data).forEach(function (item) {
                if(vector_data[item]['amt'] > 0) {
                    avg_values.push(vector_data[item]['sum'] / vector_data[item]['amt']);
                    } else {
                    avg_values.push(0);
                }

                max_values.push(vector_data[item]['max'])
            });

            // Display wind vector chart

            var windvecchart = document.querySelector('#windvecchart');
            if (windvecchart) {
                new ApexCharts(windvecchart, {
                    ...graph_radar_config,
                    yaxis: {
                        labels: {
                            formatter: function (val) {
                                return formatNumber(val, "$unit.format.windSpeed") + "$unit.label.windSpeed";
                            }
                        }
                    },
                    series: [
                        {
                            name: "$obs.label.windSpeed",
                            data: avg_values
                        },
                        {
                            name: "$obs.label.windGust",
                            data: max_values
                        },
                    ]
                }).render()
            }
            #silent $processed_charts.add("windvec")

            // --- Default single-series charts: loop over charts_order ---
            // Charts added to $processed_charts above are skipped here
            // Chart type overrides for charts that are not 'area' (default)
            #set $default_chart_types = {'windDir': 'line', 'rain': 'bar', 'ET': 'bar', 'windrun': 'bar', 'snowDepth': 'bar', 'lightning_strike_count': 'bar', 'lightning_noise_count': 'bar', 'lightning_disturber_count': 'bar', 'lightning_distance': 'bar'}
            // Aggregate column overrides for charts that are not 'avg' (default)
            #set $default_chart_columns = {'windDir': 'vecdir', 'ET': 'sum', 'rain': 'sum', 'windrun': 'sum', 'UV': 'max', 'radiation': 'max', 'luminosity': 'max', 'snowDepth': 'sum', 'lightning_strike_count': 'sum'}
            // Series1 field overrides for charts where the series field name differs from the chart name
            #set $default_chart_series = {'windDir': 'wind'}

            #for $x in $Extras.Appearance.charts_order
                #if not $x.startswith('customChart') and $x not in $processed_charts
                    #silent $processed_charts.add($x)
                    #if $getVar('week.' + $x + '.has_data')
                        #set $c_type = $default_chart_types.get($x, 'area')
                        #set $c_col = $default_chart_columns.get($x, 'avg')
                        #set $c_series = $default_chart_series.get($x, $x)
                        #set $c_id = $x + 'chart'
                        $getChartJsCode($x, $c_id, $c_type, $c_series, "", $c_col)
                    #end if
                #end if
            #end for

            // Custom charts (dynamically generated from skin.conf [[Appearance]] [[[customChart*]]] sections)
            #set $seen_custom_charts = set()
            #for $x in $Extras.Appearance.charts_order
                #if $x.startswith('customChart') and $x not in $seen_custom_charts
                    #silent $seen_custom_charts.add($x)
                    #set $cc = $Extras.Appearance.get($x, {})
                    #if $cc
                        #set $cc_type = $cc.get('charttype', 'area')
                        ## Page-specific override subsection (key = "week" for this page).
                        ## Keys absent from the subsection fall back to the top-level default.
                        #set $cc_page = $cc.get('week', {})
                        ## Resolve default column list: page → top-level → 'avg'
                        #set $cc_column_raw = $cc_page.get('column', $cc.get('column', 'avg'))
                        #set $cc_cols = ['avg']
                        #if isinstance($cc_column_raw, list)
                            #set $cc_cols = [c.strip() for c in $cc_column_raw if c.strip()]
                        #else
                            #set $cc_cols = [c.strip() for c in str($cc_column_raw).split(',') if c.strip()]
                        #end if
                        #if len($cc_cols) == 0
                            #set $cc_cols = ['avg']
                        #end if
                        ## Resolve default values list: page → top-level
                        #set $cc_values_raw = $cc_page.get('values', $cc.get('values', ''))
                        #if isinstance($cc_values_raw, list)
                            #set $cc_vals = [v.strip() for v in $cc_values_raw if v.strip()]
                        #else
                            #set $cc_vals = [v.strip() for v in str($cc_values_raw).split(',') if v.strip()]
                        #end if
                        ##
                        ## Build cc_series_pairs: list of (field, [columns])
                        ##
                        ## If the page subsection contains any field-name keys (anything that is
                        ## NOT a reserved key and whose value is a string or list), those define
                        ## exactly which fields are shown and with which columns on this page.
                        ## Reserved keys inside a page subsection: column, values, title, charttype
                        ## Example:
                        ##   [[[[week]]]]
                        ##       outTemp  = min, max   <- two series for outTemp
                        ##       dewpoint = avg        <- one series for dewpoint
                        ## If NO field-name keys are present, fall back to cc_vals + cc_cols.
                        ##
                        #set $CC_RESERVED = ['column', 'values', 'title', 'charttype']
                        #set $cc_field_map = dict((k, v) for k, v in $cc_page.items() if k not in ['column', 'values', 'title', 'charttype'] and isinstance(v, (str, list)))
                        #if len($cc_field_map) > 0
                            ## Per-field column assignment found
                            #set $cc_series_pairs = []
                            #for $field_k, $col_v in $cc_field_map.items()
                                #if isinstance($col_v, list)
                                    #set $cols_k = [c.strip() for c in $col_v if c.strip()]
                                #else
                                    #set $cols_k = [c.strip() for c in $col_v.split(',') if c.strip()]
                                #end if
                                #if $cols_k
                                    #silent $cc_series_pairs.append(($field_k, $cols_k))
                                #end if
                            #end for
                        #else
                            ## No field-name keys: every field gets the same column list
                            #set $cc_series_pairs = [($v, $cc_cols) for $v in $cc_vals]
                        #end if
                        ##
                        ## Render the chart JS
                        ##
                        #if len($cc_series_pairs) > 0 and $x in $Extras.Appearance.charts_order
                            #set $cc_id = $x + "chart"
                            var chartElement = document.querySelector('#$cc_id');
                            if (chartElement) {
                                new ApexCharts(chartElement, {
                                    ...graph_${cc_type}_config,
                                    yaxis: {
                                        labels: {
                                            formatter: function (val) {
                                                return formatNumber(val, "$getVar('unit.format.' + cc_series_pairs[0][0])") + "$getVar('unit.label.' + cc_series_pairs[0][0])";
                                            }
                                        },
                                    },
                                    series: [
                                        #for $val, $cols in $cc_series_pairs
                                            #if $getVar('week.' + val + '.has_data')
                                                #if len($cols) == 1
                                                    ## Single column for this field → no column label suffix
                                                    {
                                                        name: "$getVar('obs.label.' + val)",
                                                        data: [ $getChartData(val, cols[0]) ]
                                                    },
                                                #else
                                                    ## Multiple columns → append column label to series name
                                                    #for $col in $cols
                                                        {
                                                            name: "$getVar('obs.label.' + val) $gettext($col)",
                                                            data: [ $getChartData(val, col) ]
                                                        },
                                                    #end for
                                                #end if
                                            #end if
                                        #end for
                                    ]
                                }).render()
                            }
                        #end if
                    #end if
                #end if
            #end for

        </script>

    </body>
</html>